#top-logo {
    cursor: pointer;
    display: none;
    font-family: var(--font-family-logo);
    outline: 0;
    padding: 0.4375rem 1.0375rem 0 2.6875rem;
}

span:nth-child(1) {
    color: var(--color-logo-primary) !important;
    font-size: 1.875rem !important;
    font-weight: bold;
}

span:nth-child(2) {
    color: var(--color-background-secondary) !important;
}

span:nth-child(3) {
    color: var(--color-logo-secondary) !important;
    font-size: 1.875rem !important;
    font-weight: bold;
}