#top-logo {
    cursor: pointer;
    font-family: var(--font-family-company-logo);
    outline: 0;
    padding-top: 7px;
}

span:nth-child(1) {
    color: var(--color-company-logo-first-child) !important;
    font-size: 1.875rem !important;
    font-weight: bold;
}

span:nth-child(2) {
    color: var(--color-sidebar) !important;
}

span:nth-child(3) {
    color: var(--color-company-logo-second-child) !important;
    font-size: 1.875rem !important;
    font-weight: bold;
}

@media only screen and (max-width: 1366px) {
    #top-logo {
        display: block;
    }
}

@media only screen and (min-width: 1367px) {
    #top-logo {
        display: none;
    }
}