#userGreeting {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 1rem;
    text-align: center;
}

#userGreeting .material-icons {
    color: var(--color-select-dropdown-icon);
}

#displayName {
    color: var(--color-user-greeting);
    font-family: var(--font-family-user-greeting);
    font-size: var(--font-size-user-greeting);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-user-greeting);
    margin-left: 0.2rem;
    margin-top: 0.0625 rem;
}

.option {
    color: var(--color-select-items);
    font-family: var(--font-family-menu-list-item);
    font-size: 19px;
    font-variant-caps: small-caps;
    font-weight: 500;
    padding-left: 1rem;
}

.mat-menu-item {
    display: flex;
    justify-content: flex-start;
}