ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

li {
    position: relative;
}

button {
    border: none;
    padding: 0.5rem 1rem !important;
}

.sub-menu button img {
    padding-right: 0.5rem;
}

button:hover {
    background-color: var(--color-main-menu-background-hover) !important;
    cursor: pointer;
}

li:hover .sub-menu {
    display: flex;
}

.sub-menu {
    display: none;
    flex-direction: column;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 2 !important;
}

.sub-menu button {
    animation: enter 0.1s ease forwards;
    background-color: var(--color-main-menu-background);
    opacity: 0;
    padding: 1rem !important;
    transform-origin: bottom;
    width: 100%;
}

.sub-menu button:nth-child(1) {
    animation-delay: 0s;
    animation-duration: 0.2s;
}

.sub-menu button:nth-child(2) {
    animation-delay: 0.1s;
    animation-duration: 0.3s;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}