<div id="header">
    <div id="navigation">
        <button data-cy="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div id="title">
        <h1>Ports</h1>
    </div>
    <div id="search-box">
        <mat-form-field class="no-bottom-margin">
            <input type="text" matInput placeholder="Search" [(ngModel)]="searchTerm" id="searchTerm" #query (keyup)="onFilter(query.value)" autocomplete="off">
            <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button (click)="onFilter('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Search by description</mat-hint>
        </mat-form-field>
    </div>
</div>

<div id="content" class="scrollable">
    <custom-table [records]="filteredRecords" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></custom-table>
</div>

<div id="footer">
    <div id="buttons">
        <button mat-flat-button class="primary" id="new" [routerLink]="newUrl">New</button>
    </div>
</div>