#sidebar-wide {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 17rem !important;
}

.companyLogo#wide :nth-child(1) {
    font-size: var(--font-size-logo-first-child) !important;
}

.companyLogo#wide :nth-child(2) {
    font-size: var(--font-size-logo-second-child) !important;
    margin: -1rem 0 0 0 !important;
}

#double-ring {
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
}

#menuWide {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 2.8rem 0 2rem 0;
}

#menuWide ul {
    color: var(--color-menu-list-items);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-menu-list-item);
    font-size: var(--font-size-menu-list-item);
    font-weight: var(--font-weight-menu-list-item);
    line-height: 2.5rem;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

#menuWide ul>li {
    line-height: 2.5rem !important;
    outline: 0;
    transition-duration: 200ms;
}

#menuWide ul>li:last-child {
    margin-top: auto;
}

#menuWide ul>li:hover, #menuWide ul>li.active {
    color: var(--color-menu-active-item);
    cursor: pointer;
    font-size: var(--font-size-menu-list-item-active);
}

#copyright {
    color: var(--color-copyright);
    font-family: var(--font-family-copyright);
    font-size: var(--font-size-copyright);
    margin: auto auto 1.5rem;
    min-height: 1.5rem;
    text-align: center;
}

#section {
    margin-left: 17rem !important;
}


/* Small heights = hide bus circle */

@media only screen and (max-height: 799px) {
    .companyLogo {
        margin-bottom: 1rem;
    }
    #double-ring {
        display: none;
    }
    #menuWide {
        margin-top: 0;
    }
    #menuItems {
        line-height: 2rem !important;
    }
}