<div *ngIf="isScreenWide" id="sidebar-wide">
    <div class="companyLogo" id="wide" [routerLink]="['/']">
        <p>{{ appName.substring(0,6) }}</p>
        <p>{{ appName.substring(7,14) }}</p>
    </div>
    <div id="double-ring" [routerLink]="['/']">
        <double-ring></double-ring>
    </div>
    <div id="menuWide">
        <ul @fade id="menuItems">
            <li data-cy="customers" [routerLink]="['/customers']" routerLinkActive="active">{{ onGetLabel('customers') }}</li>
            <li data-cy="destinations" [routerLink]="['/destinations']" routerLinkActive="active">{{ onGetLabel('destinations') }}</li>
            <li data-cy="drivers" [routerLink]="['/drivers']" routerLinkActive="active">{{ onGetLabel('drivers') }}</li>
            <li data-cy="pickupPoints" [routerLink]="['/pickupPoints']" routerLinkActive="active">{{ onGetLabel('pickupPoints') }}</li>
            <li data-cy="ports" [routerLink]="['/ports']" routerLinkActive="active">{{ onGetLabel('ports') }}</li>
            <li data-cy="routes" [routerLink]="['/routes']" routerLinkActive="active">{{ onGetLabel('routes') }}</li>
            <li data-cy="transfers" [routerLink]="['/transfers']" routerLinkActive="active">{{ onGetLabel('transfers') }}</li>
            <li data-cy="users" [routerLink]="['/users']" routerLinkActive="active">{{ onGetLabel('users') }}</li>
            <li data-cy="logout" (click)="onLogout()" routerLinkActive="active">{{ onGetLabel('logout') }}</li>
        </ul>
    </div>
    <div id="copyright">Created with .NET Core<br />and Angular</div>
</div>