<div *ngIf="isScreenWide" id="sidebar-wide">
    <div class="companyLogo" id="wide" [routerLink]="['/']">
        <p>{{ appName.header }}</p>
        <p>{{ appName.subHeader }}</p>
    </div>
    <div id="double-ring" [routerLink]="['/']">
        <double-ring></double-ring>
    </div>
    <div id="menuWide">
        <ul @fade id="menuItems">
            <li data-cy="customers" [routerLink]="['/customers']" routerLinkActive="active">{{ getLabel('customers') }}</li>
            <li data-cy="destinations" [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
            <li data-cy="drivers" [routerLink]="['/drivers']" routerLinkActive="active">{{ menuItems[2] }}</li>
            <li data-cy="pickupPoints" [routerLink]="['/pickupPoints']" routerLinkActive="active">{{ menuItems[3] }}</li>
            <li data-cy="ports" [routerLink]="['/ports']" routerLinkActive="active">{{ menuItems[4] }}</li>
            <li data-cy="routes" [routerLink]="['/routes']" routerLinkActive="active">{{ menuItems[5] }}</li>
            <li data-cy="transfers" [routerLink]="['/transfers']" routerLinkActive="active">{{ menuItems[6] }}</li>
            <li data-cy="users" [routerLink]="['/users']" routerLinkActive="active">{{ menuItems[7] }}</li>
            <li data-cy="logout" (click)="onLogout()" routerLinkActive="active">{{ menuItems[8] }}</li>
        </ul>
    </div>
    <div id="copyright">Created with .NET Core<br />and Angular</div>
</div>