<input data-cy="custom-table-input" type="text" id="custom-table-input-{{ randomTableId }}" (keydown)="onCheckKeyboard($event)" autocomplete="off">

<table id="custom-table-{{ randomTableId }}">
    <thead>
        <tr>
            <th data-cy="column" *ngFor="let header of headers, index as i" [style.width]="widths[i]" [style.display]="visibility[i]" (click)="onHeaderClick(fields[i], sortOrder, $event)">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr data-cy="row" *ngFor="let record of records, index as rowIndex" (click)="onGotoRow(rowIndex + 1)" (dblclick)="sendRowToService()" id="{{ randomTableId }}-{{ rowIndex + 1 }}">
            <td *ngFor="let field of fields, index as i" [style.text-align]="justify[i]" [style.display]="visibility[i]">
                <div *ngIf="i == 0">
                    <mat-checkbox (click)="onToggleCheckBox(rowIndex + 1)" [checked]="checked"></mat-checkbox>
                </div>
                <div *ngIf="i + 1 == fields.length; else elseBlock">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-row-menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button data-cy="editButton" mat-menu-item (click)="sendRowToService()">
                            <span>{{ onGetLabel('edit') }}</span>
                        </button>
                    </mat-menu>
                </div>
                <ng-template #elseBlock>{{ record[field] }}</ng-template>
            </td>
        </tr>
    </tbody>
</table>