:host {
    display: grid;
    width: 100%;
}

table, #table-transfer {
    table-layout: fixed;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 0;
}

th {
    background-color: var(--color-table-background);
    border-radius: 4px;
    border: 1px dotted var(--color-table-header-border);
    color: var(--color-table-header);
    font-family: var(--font-family-table);
    font-size: var(--font-size-table-header);
    font-weight: var(--font-weight-table-headers);
    padding: 0.5rem 0.5rem;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1;
}

th:hover {
    cursor: pointer;
}

tr {
    transition: background-color;
    transition-duration: 200ms;
}

tbody tr:nth-child(odd) {
    background-color: var(--color-table-row-odd);
}

tbody tr:nth-child(even) {
    background-color: var(--color-table-row-even);
}

tr.selected {
    background-color: var(--color-table-row-selected) !important;
}

td {
    color: var(--color-table-row);
    font-family: var(--font-family-table);
    font-size: var(--font-size-table-rows);
    max-width: 0;
    overflow: hidden;
    padding: 0.7rem 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:hover td {
    color: var(--color-table-rows-hover);
    cursor: pointer;
    font-weight: bold;
}

.mat-checkbox {
    padding: 0;
}

#custom-table-input {
    position: absolute;
    z-index: -1;
}
