:host {
    display: flex;
    width: 100%;
}

table {
    flex: 1;
    table-layout: fixed;
    -webkit-border-horizontal-spacing: 0.125rem;
    -webkit-border-vertical-spacing: 0;
    transition: background-color 0.7s;
}

th {
    background-color: var(--color-table-background);
    border: 0.0625rem dotted var(--color-table-header-border);
    color: var(--color-table-header);
    font-family: var(--font-family-table);
    font-size: var(--font-size-table-header);
    font-weight: var(--font-weight-table-header);
    padding: 0.8rem 0.5rem;
    position: sticky;
    text-align: center;
    top: 0;
    transition: background-color 0.7s;
    z-index: 1;
}

th:hover {
    cursor: pointer;
}

tr {
    transition: background-color;
    transition: background-color 0.7s;
}

tbody tr:nth-child(odd) {
    background-color: var(--color-table-row-odd);
}

tbody tr:nth-child(even) {
    background-color: var(--color-table-row-even);
}

tr.selected {
    background-color: var(--color-table-row-selected) !important;
}

td {
    color: var(--color-table-row);
    font-family: var(--font-family-table);
    font-size: var(--font-size-table-row);
    max-width: 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:hover td {
    background-color: var(--color-table-rows-background-hover);
    color: var(--color-table-rows-hover);
    cursor: pointer;
    transition: background-color;
    transition-duration: 400ms;
}

tr:hover td:last-child>div>.button-row-menu {
    visibility: visible;
}

.mat-checkbox {
    padding: 0;
}

.button-row-menu {
    height: 30px;
    line-height: 30px;
    visibility: hidden;
    width: 30px;
}

span {
    font-size: 1.5rem;
    font-variant-caps: petite-caps;
}