#recordCount {
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
}

#recordCount button {
    margin-left: 0 !important;
}

#recordCount button img:nth-child(1) {
    margin: 8px 9px 7px 0;
}

#recordCount button span {
    font-size: 1rem;
}

.option {
    padding-left: 1rem;
}

.normal {
    color: var(--color-text-button);
    transition: color 1s ease;
}

.alternate {
    color: var(--color-snackbar-error);
    transition: color 1s ease;
}