:host {
    display: flex;
    width: 100%;
}

#overview-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.mat-tab-group {
    display: flex;
    height: 100% !important;
    width: 100%;
}

.mat-tab-body {
    height: 100% !important;
}

/* #spinner {
    border: 0.1875rem solid var(--color-logo-secondary);
    border-top: 0.1875rem solid var(--color-logo-primary);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    animation: spin 1700ms linear infinite;
} */

.table-wrapper {
    padding: 1rem 0 0 0;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}