#customSnackbar {
    align-items: center;
    display: flex;
    min-height: 1.5rem;
    min-width: 25rem;
    padding: 0 0.5rem;
}

#customSnackbar div {
    align-items: center;
    color: var(--color-snackbar-text);
    display: flex;
    font-family: var(--font-family-snackbar);
    font-size: var(--font-size-snackbar);
    width: 100%;
}

#customSnackbar .mat-icon {
    color: var(--color-snackbar-close-button) !important;
}

#customSnackbar .mat-icon:hover {
    cursor: pointer;
}

.mat-snack-bar-container {
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 10px 16px !important;
}