#customSnackbar {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.0625rem 0.5rem 0 0.5;
}

#customSnackbar div {
    align-items: center;
    color: var(--color-text-button);
    display: flex;
    font-family: var(--font-family-snackbar);
    font-size: var(--font-size-snackbar);
    font-weight: var(--font-weight-snackbar);
}