<div id="themeMenu">
    <button mat-flat-button class="transparent inverted" [matMenuTriggerFor]="themeMenu">
        <img src="/assets/images/themes/{{ onGetTheme() }}.svg" width="22px">
        <span>{{ defaultTheme }}</span>
        <img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow.svg">
    </button>
</div>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="onChangeTheme('blue')">
        <img src="/assets/images/themes/blue.svg">
        <span class="option">{{ onGetLabel('blue') }}</span>
    </button>
    <button mat-menu-item (click)="onChangeTheme('red')">
        <img src="/assets/images/themes/red.svg">
        <span class="option">{{ onGetLabel('red') }}</span>
    </button>
    <button mat-menu-item (click)="onChangeTheme('green')">
        <img src="/assets/images/themes/green.svg">
        <span class="option">{{ onGetLabel('green') }}</span>
    </button>
    <button mat-menu-item (click)="onChangeTheme('peach')">
        <img src="/assets/images/themes/peach.svg">
        <span class="option">{{ onGetLabel('peach') }}</span>
    </button>
    <button mat-menu-item (click)="onChangeTheme('ebony')">
        <img src="/assets/images/themes/ebony.svg">
        <span class="option">{{ onGetLabel('ebony') }}</span>
    </button>

</mat-menu>