#themeMenu {
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
}

#themeMenu button {
    margin-left: 0 !important;
}

#themeMenu button img:nth-child(1) {
    margin: 8px 9px 7px 0;
}

#themeMenu button span {
    font-variant-caps: petite-caps !important;
    margin-top: -3px;
}

#themeMenu button span::first-letter {
    font-size: 28px !important;
}

.option {
    padding-left: 1rem;
}