#themeMenu {
    cursor: pointer;
    display: flex;
    padding: 9px 0 9px 0;
}

.option {
    color: var(--color-text);
    font-family: var(--font-family-button) !important;
    font-size: var(--font-size-button);
    font-variant-caps: small-caps;
    font-weight: 500;
    padding-left: 1rem;
}
