#controls {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    position: absolute;
    z-index: 999;
}

#controls button {
    background-color: var(--color-map-buttons-background) !important;
}

#controls button .mat-icon {
    color: var(--color-map-buttons) !important;
}

#map-container {
    height: 100%;
    position: relative;
    width: 100%;
}

#map {
    cursor: crosshair;
    height: 100%;
}