<div id="userMenu" *ngIf="loginStatus | async">
    <button mat-flat-button class="transparent inverted" [matMenuTriggerFor]="userMenu">
        <img src="/assets/images/navigation/user.svg" width="22px">
        <span>{{ displayName | async }}</span>
        <img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow.svg">
    </button>
</div>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onEditUser()">
        <img src="/assets/images/navigation/settings.svg">
        <span class="option">{{ onGetLabel('myAccount') }}</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
        <img src="/assets/images/navigation/logout.svg">
        <span class="option">{{ onGetLabel('logout') }}</span>
    </button>
</mat-menu>