#userGreeting {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 1rem;
    text-align: center;
}

#displayName {
    color: var(--color-user-greeting);
    font-family: var(--font-family-user-greeting);
    font-size: var(--font-size-user-greeting);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-user-greeting);
    margin-left: 0.2rem;
    margin-top: 0.0625 rem;
}

.mat-menu-item {
    color: var(--color-menu-list-items) !important;
    font-variant-caps: petite-caps !important;
    justify-content: start !important;
    padding: 1rem !important;
}