#userMenu {
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
}

#userMenu button {
    margin-left: 0 !important;
}

#userMenu button img:nth-child(1) {
    margin: 8px 9px 7px 0;
}

.option {
    padding-left: 1rem;
}