<div id="userGreeting" *ngIf="(loginStatus | async)" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
    <div id="displayName">{{ displayName | async }}</div>
    <img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow-{{ theme }}.svg">
</div>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onEditUser()">
        <img src="/assets/images/navigation/myAccount-{{ theme }}.svg">
        <span class="option">{{ onGetLabel('myAccount') }}</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
        <img src="/assets/images/navigation/logout-{{ theme }}.svg">
        <span class="option">{{ onGetLabel('logout') }}</span>
    </button>
</mat-menu>