#sidebar {
    background-image: var(--color-sidebar-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    transition: 0.7s;
    z-index: 2;
}

#userInfo {
    color: var(--color-user-info);
    font-family: var(--font-family-user-info);
    font-size: var(--font-size-user-info);
    margin: 1.5rem auto 0;
    min-height: 1.5rem;
    text-align: center;
}

#companyLogo {
    cursor: pointer;
    font-family: var(--font-family-logo);
    margin: 0 auto 1.5rem;
    outline: 0;
    text-align: center;
}

#companyLogo>:first-child {
    color: var(--color-company-logo-first-child) !important;
    font-size: var(--font-size-logo-first-child) !important;
}

#companyLogo>:last-child {
    color: var(--color-company-logo-second-child) !important;
    font-size: var(--font-size-logo-second-child) !important;
    font-weight: normal !important;
    margin: -1rem 0 0 0 !important;
}

#double-ring {
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
}

#menu {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 1.4rem 0 1rem 0;
}

#menu ul {
    color: var(--color-menu-list-items);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-menu-list-items);
    font-size: var(--font-size-menu-list-items);
    line-height: 2.5rem;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

#menu ul>li {
    line-height: 2.5rem !important;
    outline: 0;
    transition-duration: 200ms;
    transition: font-size;
}

#menu ul>li:last-child {
    margin-top: auto;
}

#menu ul>li:hover, #menu ul>li.active {
    color: var(--color-menu-active-item);
    cursor: pointer;
    font-size: var(--font-size-menu-list-item-active);
}

#copyright {
    color: var(--color-copyright);
    font-family: var(--font-family-copyright);
    font-size: var(--font-size-copyright);
    margin: 0 auto 1.5rem;
    min-height: 1.5rem;
    text-align: center;
}

/* Small heights = hide bus circle */
@media only screen and (max-height: 799px) {
    #companyLogo {
        margin-bottom: 1rem;
    }

    #double-ring {
        display: none;
    }

    #menu {
        margin-top: 0;
    }

    #menuItems {
        line-height: 2rem !important;
    }
}

/* ! Wide = menu always visible */
@media only screen and (min-width: 1367px) {
    #sidebar {
        width: 17rem !important;
    }

    #section {
        margin-left: 17rem !important;
    }
}

/* ! Narrow = menu always hidden */
@media only screen and (max-width: 1366px) {
    #sidebar {
        width: 0;
    }

    #section {
        margin-left: 0;
    }
}