:root {
    --color-background-primary: #001214;
    --color-background-secondary: #49565d;
    --color-background-table: #324148;
    --color-button-delete: #F28482;
    --color-button-primary: #55828b;
    --color-button-secondary: #87BBA2;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #007b40;
    --color-text-primary: #EFEFEF;
    --color-text-secondary: #F2D492;
}