:root {
    --color-background: #373f46;
    --color-button-abort: #797979;
    --color-button-delete: #d67474;
    --color-button-primary: #57617b;
    --color-button-secondary: #5a75bc;
    --color-button-tab-background: #373f46;
    --color-button-tab-border-hover: #fffddd;
    --color-button-tab-border: #fe9f36;
    --color-button-tab: #fffddd;
    --color-button-text-all: #fffddd;
    --color-button-text-secondary: #fffddd;
    --color-button-transparent-background-hover: #5a5a5a;
    --color-button-transparent-text: #fffddd;
    --color-checkbox-checked: #fe9f36;
    --color-checkbox-indeterminate: #ffe85c;
    --color-checkbox-svg: #000000;
    --color-company-logo-first-child: #fe9f36;
    --color-company-logo-second-child: #ffe85c;
    --color-copyright: #fe9f36;
    --color-datepicker-arrow: #fffddd;
    --color-datepicker-background: #666d73;
    --color-datepicker-day-selected-background: #fffddd;
    --color-datepicker-day-selected: #666d73;
    --color-datepicker-days: #fffddd;
    --color-datepicker-header-month: #fffddd;
    --color-datepicker-table-header: #dddddd;
    --color-datepicker-today-border: #fffddd;
    --color-datepicker-toggler: #fffddd;
    --color-dialog-background: #373f46;
    --color-dialog-content: #b7b7b8;
    --color-headers: #b7b7b8;
    --color-input-focus: #fe9f36;
    --color-input-not-focus: #b7b7b9;
    --color-input-text-caret: #b7b7b9;
    --color-input-text-error: #ff8981;
    --color-input-text-selected: #b4b4b4;
    --color-label: #b7b7b9;
    --color-language-menu: #1d2733;
    --color-menu-active-item: #fe9f36;
    --color-menu-list-items: #b7b7b7;
    --color-navigation-button-form-modal: #696d71;
    --color-navigation-button: #373f46;
    --color-navigation-icon: #b7b7b7;
    --color-ring-inner: #ffe85c;
    --color-ring-outer: #ffc788;
    --color-route-description: #ffc788;
    --color-scrollbar-background: #373f46;
    --color-scrollbar: #fe9f36;
    --color-select-background-color: #1d2733;
    --color-select-border: #fe9f36;
    --color-select-items-hover-background: #9c938980;
    --color-select-items: #b7b7b7;
    --color-select-option-color: #b7b7b7;
    --color-sidebar: #1d2733;
    --color-slider-off-bar: #b7b7b8;
    --color-slider-off-thumb: #797979;
    --color-slider-on-bar: #ffc88a;
    --color-slider-on-thumb: #fe9f36;
    --color-snackbar-background-error: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    --color-snackbar-close-button: #fffddd;
    --color-snackbar-text: #fffddd;
    --color-spinner-background: #ffe85c;
    --color-spinner: #fe9f36;
    --color-sum-persons-labels: #b7b7b8;
    --color-sum-persons-numbers: #ffe85c;
    --color-summary-block-background: #373f46;
    --color-summary-block-border: #fe9f36;
    --color-summary-block-headers: #fffddd;
    --color-summary-block-item-border-active: #fe9f36;
    --color-summary-block-item-border-inactive: #b7b7b8;
    --color-summary-block-item-hover-background: #373f46;
    --color-summary-block-item-hover-color: #fe9f36;
    --color-summary-block-item: #b7b7b7;
    --color-table-background: #373f46;
    --color-table-header-border: #b7b7b7;
    --color-table-header: #b7b7b8;
    --color-table-row-even: #373f46;
    --color-table-row-menu-item: #b7b7b8;
    --color-table-row-odd: #363d44;
    --color-table-row-selected: #394d59;
    --color-table-row: #b7b7b8;
    --color-table-rows-background-hover: #1d2733;
    --color-table-rows-hover: #fe9f36;
    --color-tooltip-background: #ffc88a;
    --color-tooltip: #1d2733;
    --color-transfer-form-modal: #696d71;
    --color-user-greeting-icon: #ffe6ca;
    --color-user-greeting: #b7b7b8;
}