:root {
    /* Common */
    --color-background-secondary: #4c565a;
    --color-button-delete: #F28482;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76A28D;
    --color-text-button: #EDEDED;
    --color-text-secondary: #F2D492;
    --color-text-selected: #f2d49266;
    /* Sidebar, Topbar, Datepicker, Menu, Scrollbar, Select border */
    --color-background-primary: #072d31;
    /* Buttons */
    --color-button-primary: #55828B;
    --color-button-secondary: #426176;
    /* Selected tab */
    --color-ink-bar: #FFE85C;
    /* Sliders */
    --color-slider-bar-active: #55747c;
    --color-slider-bar-inactive: #697880;
    /* Percents */
    --color-text-percent-negative: #ff9090;
    --color-text-percent-positive: #6dce7d;
    --color-text-percent-zero: #53c4e8;
    /* Period summary */
    --color-border-period-summary-selected: #FE9F36;
    /* Text */
    --color-text-primary: #EFEFEF;
    /* Charts */
    --color-chart-bar: #fea136b9;
    --color-chart-bar-lastYear: #ffe95cb9;
    --color-chart-gridLines: #707070;
    --color-chart-labels: #EFEFEF;
    /* Maps */
    --color-map-tooltip-background: #22333B;
    --color-map-tooltip-color: #EFEFEF;
    --color-map-buttons-background: #426176;
    --color-map-buttons: #EBE5CD;
    /* Spinner */
    --color-spinner-outer: #FE9F36;
    --color-spinner-inner: #FFE85C;
    /* Credits */
    --color-title: #FE9F36;
    --color-url: #FFE85C;
    --color-about: #EFEFEF;
    --color-hover: #545454;
    /* Tables */
    --color-table-header: #4f5c61;
    --color-table-row-highlight:#4f5c61;
}