:root {
    --color-background: #EFF6E0;
    --color-error: #DB6C6C;
    --color-focus: #99235C;
    --color-info: #0e8d97;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-primary: #598392;
    --color-secondary: #AEC3B0;
    --color-table-row-highlight:#C8D9C9;
    --color-text: #FFFFFF;
}