:root {
    /* Common */
    --color-background-secondary: #F0EBD8;
    --color-button-delete: #F28482;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76A28D;
    --color-text-button: #EDEDED;
    --color-text-secondary: #AA767C;
    --color-text-selected: #dcafb480;
    /* Sidebar, Topbar, Datepicker, Menu, Scrollbar, Select border */
    --color-background-primary: #1B4332;
    /* Buttons */
    --color-button-primary: #1B4332;
    --color-button-secondary: #85A388;
    /* Selected tab */
    --color-ink-bar: #85A388;
    /* Sliders */
    --color-slider-bar-active: #6F9082;
    --color-slider-bar-inactive: #A5C5A8;
    /* Percents */
    --color-text-percent-negative: #a04c4c;
    --color-text-percent-positive: #20712e;
    --color-text-percent-zero: #1084a9;
    /* Period summary */
    --color-background-summary: #46122008;
    --color-background-selected: #1B4332;
    /* Text */
    --color-text-primary: #1B4332;
    /* Charts */
    --color-chart-bar: #1B4332b9;
    --color-chart-bar-lastYear: #85A388b9;
    --color-chart-gridLines: #d6d0bb;
    --color-chart-labels: #1B4332;
    /* Maps */
    --color-map-tooltip-background: #EBE5CD;
    --color-map-tooltip-color: #1B4332;
    --color-map-buttons-background: #85A388;
    --color-map-buttons: #EBE5CD;
    /* Spinner */
    --color-spinner-outer: #1B4332;
    --color-spinner-inner: #85A388;
    /* Credits */
    --color-title: #1B4332;
    --color-url: #85A388;
    --color-about: #c39a26;
    --color-hover: #EBE5CD;
    /* Tables */
    --color-table-header: #ebe5cd;
    --color-table-row-highlight: #ebe5cd;
    /* Scroll bars */
    --color-scrollbar: #1B4332;
}