:root {
    --color-background: #fffff4;
    --color-button-abort: #c1c1c1;
    --color-button-delete: #d67474;
    --color-button-primary: #57617b;
    --color-button-secondary: #5a75bc;
    --color-button-tab-background: #fffff4;
    --color-button-tab-border-hover: #f7d3d0;
    --color-button-tab-border: #b56576;
    --color-button-tab: #355070;
    --color-button-text-all: #fffff4;
    --color-button-text-secondary: #fffff4;
    --color-button-transparent-background-hover: #dcdcdc;
    --color-button-transparent-text: #57617b;
    --color-checkbox-checked: #355070;
    --color-checkbox-indeterminate: #d67474;
    --color-checkbox-svg: #ffffff;
    --color-company-logo-first-child: #355070;
    --color-company-logo-second-child: #b56576;
    --color-copyright: #b56576;
    --color-datepicker-arrow: #57617b;
    --color-datepicker-background: #eaeaea;
    --color-datepicker-day-selected-background: #57617b;
    --color-datepicker-day-selected: #fffff4;
    --color-datepicker-days: #57617b;
    --color-datepicker-header-month: #57617b;
    --color-datepicker-table-header: #57617b;
    --color-datepicker-today-border: #57617b;
    --color-datepicker-toggler: #57617b;
    --color-dialog-background: #fffff4;
    --color-dialog-content: #426186;
    --color-headers: #426186;
    --color-input-focus: #355070;
    --color-input-not-focus: #5f5f5f;
    --color-input-text-caret: #5f5f5f;
    --color-input-text-error: #ff0000;
    --color-input-text-selected: #cfcfcf;
    --color-label: #5f5f5f;
    --color-language-menu: #eaeaea;
    --color-menu-active-item: #b56576;
    --color-menu-list-items: #2e5266;
    --color-navigation-button-form-modal: #eaeaea;
    --color-navigation-button: #fffff4;
    --color-navigation-icon: #2e5266;
    --color-paragraph: #dddddd;
    --color-ring-inner: #b56576;
    --color-ring-outer: #734230;
    --color-route-description: #b56576;
    --color-scrollbar-background: #fffff4;
    --color-scrollbar: #b56576;
    --color-select-background-color: #ffffff;
    --color-select-border: #355070;
    --color-select-dropdown-icon: #5f5f5f;
    --color-select-items-hover-background: #d3d3d3;
    --color-select-items: #2e5266;
    --color-select-option-color: #2e5266;
    --color-sidebar: #eaeaea;
    --color-slider-off-bar: #b7b7b8;
    --color-slider-off-thumb: #e3e3e4;
    --color-slider-on-bar: #7f95af;
    --color-slider-on-thumb: #355070;
    --color-snackbar-background-error: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    --color-snackbar-close-button: #fffff4;
    --color-snackbar-text: #fffff4;
    --color-spinner-background: #d4d4d4;
    --color-spinner: #b56576;
    --color-sum-persons-labels: #000000;
    --color-sum-persons-numbers: #b56576;
    --color-summary-block-background: #fffff4;
    --color-summary-block-border: #355070;
    --color-summary-block-headers: #426186;
    --color-summary-block-item-border-active: #b56576;
    --color-summary-block-item-border-inactive: #c7c7c7;
    --color-summary-block-item-hover-background: #fffff4;
    --color-summary-block-item-hover-color: #355070;
    --color-summary-block-item: #2e5266;
    --color-table-background: #fffff4;
    --color-table-header-border: #2e5266;
    --color-table-header: #2e5266;
    --color-table-row-even: #fffff4;
    --color-table-row-menu-item: #355070;
    --color-table-row-odd: #f4f4f4;
    --color-table-row-selected: #e0e3e6;
    --color-table-row: #2e5266;
    --color-table-rows-hover: #b56576;
    --color-tooltip-background: #355070;
    --color-tooltip: #fffff4;
    --color-transfer-form-modal: #eaeaea;
    --color-user-greeting: #5f5f5f;
}