:root {
    /* Common */
    --color-background-secondary: #F0EBD8;
    --color-background-table: #EBE5CD;
    --color-button-delete: #F28482;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76A28D;
    --color-text-button: #EDEDED;
    --color-text-secondary: #AA767C;
    --color-text-selected: #dcafb480;
    /* Sidebar, Topbar, Datepicker, Menu, Scrollbar, Select border */
    --color-background-primary: #906971;
    /* Buttons */
    --color-button-primary: #906971;
    --color-button-secondary: #E5989B;
    /* Selected tab */
    --color-ink-bar: #E5989B;
    /* Sliders */
    --color-slider-bar-active: #A99095;
    --color-slider-bar-inactive: #DDB8BA;
    /* Percents */
    --color-text-percent-negative: #ff4040;
    --color-text-percent-positive: #2f773b;
    --color-text-percent-zero: #1084a9;
    /* Period summary */
    --color-background-period-summary-selected: #fbf0c5;
    /* Text */
    --color-text-primary: #906971;
    /* Charts */
    --color-chart-bar: #906971;
    --color-chart-bar-lastYear: #E5989B;
    --color-chart-gridLines: #d6d0bb;
    --color-chart-labels: #906971;
}