:root {
    /* Common */
    --color-background-secondary: #F0EBD8;
    --color-button-delete: #F28482;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76A28D;
    --color-text-button: #EDEDED;
    --color-text-secondary: #AA767C;
    --color-text-selected: #dcafb480;
    /* Sidebar, Topbar, Datepicker, Menu, Scrollbar, Select border */
    --color-background-primary: #906971;
    /* Buttons */
    --color-button-primary: #906971;
    --color-button-secondary: #E5989B;
    /* Selected tab */
    --color-ink-bar: #E5989B;
    /* Sliders */
    --color-slider-bar-active: #A99095;
    --color-slider-bar-inactive: #DDB8BA;
    /* Percents */
    --color-text-percent-negative: #ff4040;
    --color-text-percent-positive: #2f773b;
    --color-text-percent-zero: #1084a9;
    /* Period summary */
    --color-background-summary: #46122008;
    --color-background-selected: #906971;
    /* Text */
    --color-text-primary: #906971;
    /* Charts */
    --color-chart-bar: #906971b9;
    --color-chart-bar-lastYear: #E5989Bb9;
    --color-chart-gridLines: #d6d0bb;
    --color-chart-labels: #906971;
    /* Maps */
    --color-map-tooltip-background: #EBE5CD;
    --color-map-tooltip-color: #906971;
    --color-map-buttons-background: #E5989B;
    --color-map-buttons: #EBE5CD;
    /* Spinner */
    --color-spinner-outer: #906971;
    --color-spinner-inner: #E5989B;
    /* Credits */
    --color-title: #906971;
    --color-url: #E5989B;
    --color-about: #c39a26;
    --color-hover: #EBE5CD;
    /* Tables */
    --color-table-header: #ebe5cd;
    --color-table-row-highlight: #ebe5cd;
    /* Scroll bars */
    --color-scrollbar: #906971;
    /* Badge */
    --color-badge: #ebe5cd;
    --color-badge-background: #FE9F36;
}