:root {
    --color-background: #FFCDB2;
    --color-error: #ff0000;
    --color-focus: #99235C;
    --color-info: #0e8d97;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-primary: #906971;
    --color-secondary: #E5989B;
    --color-table-row-highlight:#DBB8A5;
    --color-text: #FFFFFF;
}