:root {
    /* Common */
    --color-background-secondary: #F0EBD8;
    --color-button-delete: #F28482;
    --color-logo-primary: #FE9F36;
    --color-logo-secondary: #FFE85C;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76A28D;
    --color-text-button: #EDEDED;
    --color-text-secondary: #AA767C;
    --color-text-selected: #dcafb480;
    /* Sidebar, Topbar, Datepicker, Menu, Scrollbar, Select border */
    --color-background-primary: #461220;
    /* Buttons */
    --color-button-primary: #461220;
    --color-button-secondary: #9E414B;
    /* Selected tab */
    --color-ink-bar: #9E414B;
    /* Sliders */
    --color-slider-bar-active: #791F28;
    --color-slider-bar-inactive: #9e7e82;
    /* Percents */
    --color-text-percent-negative: #ff4040;
    --color-text-percent-positive: #2f773b;
    --color-text-percent-zero: #1084a9;
    /* Period summary */
    --color-border-period-summary-selected: #461220;
    /* Text */
    --color-text-primary: #461220;
    /* Charts */
    --color-chart-bar: #461220b9;
    --color-chart-bar-lastYear: #9E414Bb9;
    --color-chart-gridLines: #d6d0bb;
    --color-chart-labels: #461220;
    /* Maps */
    --color-map-tooltip-background: #EBE5CD;
    --color-map-tooltip-color: #461220;
    --color-map-buttons-background: #9E414B;
    --color-map-buttons: #EBE5CD;
    /* Spinner */
    --color-spinner-outer: #461220;
    --color-spinner-inner: #9E414B;
    /* Credits */
    --color-title: #461220;
    --color-url: #9E414B;
    --color-about: #920402;
    --color-hover: #EBE5CD;
    /* Tables */
    --color-table-header: #ebe5cd;
    --color-table-row-highlight: #ebe5cd;
}