:root {
    --color-background: #fed0bb;
    --color-error: #db6c6c;
    --color-focus: #a5022e;
    --color-info: #0e8d97;
    --color-logo-primary: #fe9f36;
    --color-logo-secondary: #ffe85c;
    --color-primary: #461220;
    --color-secondary: #9e414b;
    --color-table-row-highlight:#CE989E;
    --color-text: #FFFFFF;
}