#header {
    align-items: center;
    display: grid;
    grid-area: header;
    grid-template-areas: "navigation title searchbox";
    grid-template-columns: fit-content(0%) 1fr auto;
}

#header #navigation {
    align-items: center;
    display: flex;
    grid-area: navigation;
    justify-content: flex-start;
    margin: 0 0 0 1rem;
}

span#routeDescription {
    color: var(--color-route-description);
    font-family: var(--font-family-header);
    font-size: 2.1rem;
    margin: 0.375rem 0 0 0.625rem;
}


/* Wide */

@media only screen and (min-width: 1367px) {
    #header {
        margin: 2rem;
    }
}


/* Narrow */

@media only screen and (max-width: 1366px) {
    #header {
        margin: 1.5rem;
    }
}