#header {
    align-items: center;
    display: grid;
    grid-area: header;
    grid-template-areas:
        "navigation title searchbox";
    grid-template-columns: fit-content(0%) 1fr auto;
    margin: 2rem;
}

#header #navigation {
    align-items: center;
    display: flex;
    grid-area: "navigation";
    justify-content: flex-start;
    margin: 0 0 0 1rem;
}

span#routeDescription {
    color: var(--color-route-description);
    font-family: var(--font-family-headers);
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0 0 10px;
}