<div id="header">
    <div id="navigation">
        <button mat-mini-fab class="navigation">
            <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
        </button>
    </div>
    <div id="title">
        <h1>Pickup point</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="section-one">
            <mat-form-field>
                <input type="text" matInput placeholder="Route" formControlName="routeDescription" data-tabindex="1" id="routeDescription" [inputTabStop]="input" (change)="onLookupIndex(routes, 'Routes', ['routeId', 'routeDescription'], ['routeId', 'routeDescription'], ['Id', 'Description'], ['1px', '440px'], ['none', ''], ['center', 'left'], $event)">
                <mat-error *ngIf="routeDescription.hasError('required')">This is a required field!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Description" formControlName="description" data-tabindex="2" id="description" [inputTabStop]="input">
                <mat-error *ngIf="description.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="description.errors?.maxlength">This field can be up to {{ description.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="ExactPoint" formControlName="exactPoint" data-tabindex="3" id="exactPoint" [inputTabStop]="input">
                <mat-error *ngIf="exactPoint.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="exactPoint.errors?.maxlength">This field can be up to {{ exactPoint.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Time" formControlName="time" data-tabindex="4" id="time" [inputTabStop]="input">
                <mat-error *ngIf="time.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="time.hasError('pattern')">This field is invalid!</mat-error>
            </mat-form-field>
            <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
        </div>
    </form>
    <p class="instructions" [class.hidden]=false>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
        <button mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">Delete</button>
        <button mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">Save</button>
    </div>
</div>