:host {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: max-content auto;
    height: 100vh;
}

#header {
    align-items: center;
    display: flex;
    grid-area: "header";
}

#header #navigation {
    margin-left: 1rem;
}

#header #title {
    margin-left: 1rem;
}

#header #search-box {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    max-width: fit-content;
    width: 20rem;
}

#header #search-box .mat-form-field {
    width: 20rem !important;
}

/* Wide */
@media only screen and (min-width: 1367px) {
    #header {
        margin: 2rem;
    }
}

/* Narrow */
@media only screen and (max-width: 1366px) {
    #header {
        margin: 1.5rem;
    }
}