#header #search-box {
    margin-right: 1rem;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 15rem !important;
}

#content {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0 2rem 2rem 2rem;
    overflow: hidden;
}