<div id="header">
    <div id="navigation">
        <button data-cy="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div @slideFromLeft id="title">
        <h1>Pickup points</h1>
    </div>
    <div id="search-box">
        <mat-form-field class="no-bottom-margin">
            <mat-label>Routes</mat-label>
            <mat-select [(value)]="id" (selectionChange)="onLoadPickupPoints()">
                <mat-option *ngFor="let route of routes" [value]="route.id">
                    {{ route.description }}
                </mat-option>
            </mat-select>
            <mat-hint>Select from the list</mat-hint>
        </mat-form-field>
    </div>
</div>