<link rel="stylesheet" href="~/styles/notifications.css">

<div id="content">
    <div id="companyLogo">
        <p>People</p>
        <p>movers</p>
    </div>
    <p id="message" class="error">This user does not exist</p>
    <form action="UserNotFound">
        <input type="submit" value="Login">
    </form>
</div>