<div id="header">
    <div id="navigation">
      <button mat-mini-fab class="navigation">
        <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
      </button>
    </div>
    <div id="title">
      <h1>Change password</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
      <div id="section-one">
        <mat-form-field>
            <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Current password" formControlName="currentPassword" data-tabindex="1" id="currentPassword" [inputTabStop]="input">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="CurrentPassword?.hasError('required')">This is a required field!</mat-error>
        </mat-form-field>
        <div formGroupName="passwords" id="passwords">
            <mat-form-field>
              <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" data-tabindex="2" id="password" [inputTabStop]="input">
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="Password?.hasError('required')">This is a required field!</mat-error>
              <mat-error *ngIf="Password?.hasError('containsSpace')">Spaces are not allowed!</mat-error>
              <mat-error *ngIf="Password?.hasError('minlength') && !Password?.hasError('containsSpace')">This field must be at least {{ Password.errors.minlength.requiredLength }} characters long</mat-error>
              <mat-error *ngIf="Password?.hasError('maxlength') && !Password?.hasError('containsSpace')">This field can be up to {{ Password.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm password" formControlName="confirmPassword" data-tabindex="3" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="ConfirmPassword?.hasError('required')">This is a required field...</mat-error>
              <mat-error *ngIf="!ConfirmPassword?.hasError('required') && !MatchingPasswords">Password and confirm password do not match!</mat-error>
              <mat-error *ngIf="!ConfirmPassword?.hasError('required') && MatchingPasswords">This field has errors!</mat-error>
            </mat-form-field>
        </div>
      </div>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
      <button mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">Save</button>
    </div>
</div>