<div id="form">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" id="goBack" (click)="onGoBack()" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('currentPassword')" formControlName="currentPassword" data-tabindex="1" id="currentPassword" [inputTabStop]="input">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="currentPassword?.hasError('required')">{{ onGetHint('required') }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('newPassword')" formControlName="password" data-tabindex="2" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password?.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('containsSpace')">{{ onGetHint('minLength', password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password?.hasError('maxlength') && !password?.hasError('containsSpace')">{{ onGetHint('maxLength', password.errors.maxlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password?.hasError('containsSpace')">{{ onGetHint('spacesNotAllowed') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('confirmPassword')" formControlName="confirmPassword" data-tabindex="3" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ onGetHint('passwordsNoMatch') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ onGetHint('invalid') }}!</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>