<div id="header">
    <div id="navigation">
      <button mat-mini-fab class="navigation">
        <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
      </button>
    </div>
    <div id="title">
      <h1>User</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
      <div id="section-one">
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="userName" data-tabindex="1" id="userName" [inputTabStop]="input">
            <mat-error *ngIf="Username.errors?.required" value="This field is required"></mat-error>
            <mat-error *ngIf="Username.errors?.maxlength">This field can be up to {{ Username.errors.maxlength.requiredLength }} characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Display name" formControlName="displayName" data-tabindex="2" id="displayName" [inputTabStop]="input">
            <mat-error *ngIf="Displayname.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="Displayname.errors?.maxlength">This field can be up to {{ Displayname.errors.maxlength.requiredLength }} characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email" data-tabindex="3" id="email" [inputTabStop]="input">
            <mat-error *ngIf="Email?.hasError('required')">This is a required field!</mat-error>
            <mat-error *ngIf="Email?.hasError('email')">This field seems to be invalid!</mat-error>
        </mat-form-field>
      </div>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
      <button mat-flat-button class="delete" (click)="onDelete()">Delete</button>
      <button mat-flat-button class="primary" (click)="onChangePassword()">Change password</button>
      <button mat-flat-button class="primary" (click)="onSave()" [disabled]="!form.valid">Save</button>
    </div>
</div>