<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" (click)="onGoBack()" mat-mini-fab>
                <mat-icon *ngIf="onGetEditUserCaller() == 'list'">arrow_back</mat-icon>
                <mat-icon *ngIf="onGetEditUserCaller() == 'menu'">home</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form id="form" data-cy="form" [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input data-cy="userName" type="text" matInput [placeholder]="onGetLabel('userName')" formControlName="userName" data-tabindex="1" id="userName" [inputTabStop]="input">
                <mat-error *ngIf="username.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="username.hasError('maxlength')">{{ onGetHint('maxLength', username.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="displayName" type="text" matInput [placeholder]="onGetLabel('displayName')" formControlName="displayName" data-tabindex="2" id="displayName" [inputTabStop]="input">
                <mat-error *ngIf="displayname.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="displayname.hasError('maxlength')">{{ onGetHint('maxLength', displayname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="email" type="email" matInput [placeholder]="onGetLabel('email')" formControlName="email" data-tabindex="3" id="email" [inputTabStop]="input">
                <mat-error *ngIf="email.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="email.hasError('email')">{{ onGetHint('invalid') }}</mat-error>
            </mat-form-field>
            <mat-slide-toggle *ngIf="isConnectedUserAdmin" data-cy="isAdmin" formControlName="isAdmin">{{ onGetLabel('isAdmin') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button *ngIf="isConnectedUserAdmin" data-cy="delete" mat-flat-button class="delete" id="delete" (click)="onDelete()">{{ onGetLabel('deleteButton') }}</button>
            <button data-cy="changePassword" mat-flat-button class="secondary" id="changePassword" (click)="onChangePassword()">{{ onGetLabel('changePasswordButton') }}</button>
            <button *ngIf="isConnectedUserAdmin" data-cy="sendEmailToUser" mat-flat-button class="secondary" id="sendEmailToUser" (click)="onSendFirstLoginCredentials()">{{ onGetLabel('sendEmailToUser') }}</button>
            <button data-cy="save" mat-flat-button class="primary" id="save" (click)="onSave()" [disabled]="!form.valid">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>