<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/users']" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form id="form" data-cy="form" [formGroup]="form" autocomplete="off">
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="userName" type="text" matInput [placeholder]="onGetLabel('userName')" formControlName="userName" data-tabindex="1" id="userName" [inputTabStop]="input">
                    <mat-error *ngIf="userName.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="userName.hasError('maxlength')">{{ onGetHint('maxLength', userName.errors.maxlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="!userName.hasError('maxlength') && userName.hasError('containsSpace')">{{ onGetHint('spacesNotAllowed') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="displayName" type="text" matInput [placeholder]="onGetLabel('displayName')" formControlName="displayName" data-tabindex="2" id="displayName" [inputTabStop]="input">
                    <mat-error *ngIf="displayName.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="displayName.hasError('maxlength')">{{ onGetHint('maxLength', displayName.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input data-cy="email" type="email" matInput [placeholder]="onGetLabel('email')" formControlName="email" data-tabindex="3" id="email" [inputTabStop]="input">
                <mat-error *ngIf="email.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="email.hasError('maxlength')">{{ onGetHint('maxLength', email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('required') && !email.hasError('maxlength') && email.hasError('email')">{{ onGetHint('invalid') }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input data-cy="password" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('password')" formControlName="password" data-tabindex="4" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ onGetHint('spacesNotAllowed') }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ onGetHint('minLength', password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ onGetHint('maxLength', password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="confirmPassword" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('confirmPassword')" formControlName="confirmPassword" data-tabindex="5" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword.hasError('required') && !matchingPasswords">{{ onGetHint('passwordsNoMatch') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword.hasError('required') && matchingPasswords">{{ onGetHint('invalid') }}</mat-error>
                </mat-form-field>
            </div>
            <mat-slide-toggle data-cy="isAdmin" formControlName="isAdmin">{{ onGetLabel('isAdmin') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="save" mat-flat-button class="primary" (click)="onSave()" [disabled]="!form.valid">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>