<div id="form">

    <div id="header">
        <div id="navigation">
            <button mat-mini-fab class="navigation">
                <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>User</h1>
        </div>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="userName" data-tabindex="1" id="userName" [inputTabStop]="input">
                <mat-error *ngIf="UserName.errors?.required">This field is required</mat-error>
                <mat-error *ngIf="UserName.errors?.maxlength">This field can be up to {{ UserName.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Display name" formControlName="displayName" data-tabindex="2" id="displayName" [inputTabStop]="input">
                <mat-error *ngIf="DisplayName.errors?.required">This field is required</mat-error>
                <mat-error *ngIf="DisplayName.errors?.maxlength">This field can be up to {{ DisplayName.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email" data-tabindex="3" id="email" [inputTabStop]="input">
                <mat-error *ngIf="Email?.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="Email?.hasError('email')">This field seems to be invalid!</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" data-tabindex="4" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="Password?.hasError('required')">This is a required field!</mat-error>
                    <mat-error *ngIf="Password?.hasError('containsSpace')">Spaces are not allowed!</mat-error>
                    <mat-error *ngIf="Password?.hasError('minlength') && !Password?.hasError('containsSpace')">This field must be at least {{ Password.errors.minlength.requiredLength }} characters long</mat-error>
                    <mat-error *ngIf="Password?.hasError('maxlength') && !Password?.hasError('containsSpace')">This field can be up to {{ Password.errors.maxlength.requiredLength }} characters long</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm password" formControlName="confirmPassword" data-tabindex="5" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="ConfirmPassword?.hasError('required')">This is a required field!</mat-error>
                    <mat-error *ngIf="!ConfirmPassword?.hasError('required') && !MatchingPasswords">Password and confirm password do not match!</mat-error>
                    <mat-error *ngIf="!ConfirmPassword?.hasError('required') && MatchingPasswords">This field has errors!</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" (click)="onSave()" [disabled]="!form.valid">Save</button>
        </div>
    </div>

</div>