<div *ngIf="isScreenNarrow" id="sidebar-narrow">
    <div class="userInfo" id="narrow">
        <div *ngIf="(loginStatus | async)">
            <div>Hello</div>
            <div>{{ displayName | async }}</div>
        </div>
    </div>
    <div class="companyLogo" id="narrow" [routerLink]="['/']">
        <p>{{ appName.header }}</p>
        <p>{{ appName.subHeader }}</p>
    </div>
    <div *ngIf="(loginStatus | async)" id="menuNarrow">
        <mat-button-toggle-group>
            <mat-button-toggle data-cy="customers" routerLink="/customers" routerLinkActive="active"><img src="/assets/customers-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="destinations" routerLink="/destinations" routerLinkActive="active"><img src="/assets/destinations-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="drivers" routerLink="/drivers" routerLinkActive="active"><img src="/assets/drivers-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="pickupPoints" routerLink="/pickupPoints" routerLinkActive="active"><img src="/assets/pickupPoints-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="ports" routerLink="/ports" routerLinkActive="active"><img src="/assets/ports-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="routes" routerLink="/routes" routerLinkActive="active"><img src="/assets/routes-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="transfers" routerLink="/transfers" routerLinkActive="active"><img src="/assets/transfers-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="users" routerLink="/users" routerLinkActive="active"><img src="/assets/users-{{ theme }}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="logout" (click)="onLogout()" routerLinkActive="active"><img src="/assets/logout-{{ theme }}.png" width="24px"></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>