#sidebar {
    background-color: var(--color-sidebar);
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    transition: 0.7s;
    z-index: 2;
}

#sidebar-wide {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#userInfoBig {
    color: var(--color-user-info);
    font-family: var(--font-family-user-info);
    font-size: var(--font-size-user-info);
    margin: 1.5rem auto 0;
    min-height: 1.5rem;
    text-align: center;
}

#userInfoSmall {
    color: var(--color-user-info);
    font-family: var(--font-family-user-info);
    font-size: 11px;
    margin: 1.3rem 0 0 0;
    min-height: 1.875rem;
    text-align: center;
}

.companyLogo {
    cursor: pointer;
    font-family: var(--font-family-logo);
    margin: 0 auto 1.5rem;
    outline: 0;
    text-align: center;
}

/* Logo BIG */

#logoBig>:first-child {
    color: var(--color-company-logo-first-child) !important;
    font-size: var(--font-size-logo-first-child) !important;
}

#logoBig>:last-child {
    color: var(--color-company-logo-second-child) !important;
    font-size: var(--font-size-logo-second-child) !important;
    margin: -1rem 0 0 0 !important;
}

/* Logo SMALL */
.companyLogo#logoSmall {
    margin: 0.9rem 0 1rem 0;
}

#logoSmall>:first-child {
    color: var(--color-company-logo-first-child) !important;
    font-size: 1.5625rem !important;
}

#logoSmall>:last-child {
    color: var(--color-company-logo-second-child) !important;
    font-size: 1rem !important;
    margin-top: -0.5rem !important;
}

#double-ring {
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
}

#menu {
    display: flex;
    justify-content: center;
    margin: 1.4rem 0 1rem 0;
}

#menu ul {
    color: var(--color-menu-list-items);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-menu-list-items);
    font-size: var(--font-size-menu-list-items);
    line-height: 2.5rem;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

#menu ul>li {
    line-height: 2.5rem !important;
    outline: 0;
    transition-duration: 200ms;
    transition: font-size;
}

#menu ul>li:last-child {
    margin-top: auto;
}

#menu ul>li:hover, #menu ul>li.active {
    color: var(--color-menu-active-item);
    cursor: pointer;
    font-size: var(--font-size-menu-list-item-active);
}

#copyright {
    color: var(--color-copyright);
    font-family: var(--font-family-copyright);
    font-size: var(--font-size-copyright);
    margin: auto auto 1.5rem;
    min-height: 1.5rem;
    text-align: center;
}

/* Small heights = hide bus circle */
@media only screen and (max-height: 799px) {
    #companyLogo {
        margin-bottom: 1rem;
    }

    #double-ring {
        display: none;
    }

    #menu {
        margin-top: 0;
    }

    #menuItems {
        line-height: 2rem !important;
    }
}

/* ! Wide */
@media only screen and (min-width: 1681px) {
    #sidebar-wide {
        /* display: flex; */
        width: 17rem !important;
    }

    #sidebar-narrow {
        display: none;
        width: 0 !important;
    }

    #section {
        margin-left: 17rem !important;
    }
}

/* ! Narrow  */
@media only screen and (max-width: 1680px) {
    #sidebar-wide {
        display: none;
    }

    #sidebar-narrow {
        display: flex;
        flex-direction: column;
        width: 5rem !important;
    }

    #section {
        margin-left: 5rem !important;
    }
}

/* Narrow */
.item {
    margin: 0.6rem;
    width: 2rem;
}

.item:hover {
    transition: 0.2s;
}

#customers:hover {
    /* background: url("../../../../assets/hover-customers.png") center / 32px no-repeat; */
    cursor: pointer;
}

#destinations:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-destinations.png") center / 32px no-repeat;
}

#drivers:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-drivers.png") center / 32px no-repeat;
}

#pickupPoints:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-pickupPoints.png") center / 32px no-repeat;
}

#routes:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-routes.png") center / 32px no-repeat;
}

#transfers:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-transfers.png") center / 32px no-repeat;
}

#users:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-users.png") center / 32px no-repeat;
}

#logout:hover {
    cursor: pointer;
    background: url("../../../../assets/hover-logout.png") center / 32px no-repeat;
}

#menu-narrow {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}