<div id="sidebar">
    <div id="sidebar-wide">
        <div id="userInfoBig">
            <div *ngIf="(loginStatus | async)">
                <div>Hello, {{ displayName | async }}</div>
            </div>
        </div>
        <div class="companyLogo" id="logoBig" [routerLink]="['/']">
            <p>{{ appName.header }}</p>
            <p>{{ appName.subHeader }}</p>
        </div>
        <div id="double-ring" [routerLink]="['/']">
            <double-ring></double-ring>
        </div>
        <div id="menu">
            <ul id="menuItems" (click)="onCloseSidebar()">
                <li *ngIf="(loginStatus | async)" [routerLink]="['/customers']" routerLinkActive="active">Customers</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/drivers']" routerLinkActive="active">Drivers</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/pickupPoints']" routerLinkActive="active">Pickup points</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/ports']" routerLinkActive="active">Ports</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/routes']" routerLinkActive="active">Routes</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/transfers']" routerLinkActive="active">Transfers</li>
                <li *ngIf="(loginStatus | async)" [routerLink]="['/users']" routerLinkActive="active">Users</li>
                <li *ngIf="(loginStatus | async)" (click)="onLogout()" routerLinkActive="active">Logout</li>
            </ul>
        </div>
        <div id="copyright">Created with .NET Core<br />and Angular</div>
    </div>
    <div id="sidebar-narrow">
        <div id="userInfoSmall">
            <div *ngIf="(loginStatus | async)">
                <div>Hello</div>
                <div>{{ displayName | async }}</div>
            </div>
        </div>
        <div class="companyLogo" id="logoSmall" [routerLink]="['/']">
            <p>{{ appName.header }}</p>
            <p>{{ appName.subHeader }}</p>
        </div>
        <div id="menu-narrow">
            <img class="item" [src]="customersHover || customers" id="customers" (mouseover)="customers" (mouseout)="customersHover">
            <img class="item" src="assets/destinations.png" id="destinations">
            <img class="item" src="assets/drivers.png" id=drivers>
            <img class="item" src="assets/pickupPoints.png" id="pickupPoints">
            <img class="item" src="assets/routes.png" id="routes">
            <img class="item" src="assets/transfers.png" id="transfers">
            <img class="item" src="assets/users.png" id="users">
            <img class="item" src="assets/logout.png" id="logout">
        </div>
    </div>
</div>