<div id="sidebar">
    <div id="sidebar-wide">
        <div class="userInfo" id="wide">
            <div *ngIf="(loginStatus | async)">
                <div>Hello, {{ displayName | async }}</div>
            </div>
        </div>
        <div class="companyLogo" id="wide" [routerLink]="['/']">
            <p>{{ appName.header }}</p>
            <p>{{ appName.subHeader }}</p>
        </div>
        <div id="double-ring" [routerLink]="['/']">
            <double-ring></double-ring>
        </div>
        <div *ngIf="(loginStatus | async)" id="menuWide">
            <ul id="menuItems">
                <li [routerLink]="['/customers']" routerLinkActive="active">Customers</li>
                <li [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
                <li [routerLink]="['/drivers']" routerLinkActive="active">Drivers</li>
                <li [routerLink]="['/pickupPoints']" routerLinkActive="active">Pickup points</li>
                <li [routerLink]="['/ports']" routerLinkActive="active">Ports</li>
                <li [routerLink]="['/routes']" routerLinkActive="active">Routes</li>
                <li [routerLink]="['/transfers']" routerLinkActive="active">Transfers</li>
                <li [routerLink]="['/users']" routerLinkActive="active">Users</li>
                <li (click)="onLogout()" routerLinkActive="active">Logout</li>
            </ul>
        </div>
        <div id="copyright">Created with .NET Core<br />and Angular</div>
    </div>
    <div id="sidebar-narrow">
        <div class="userInfo" id="narrow">
            <div *ngIf="(loginStatus | async)">
                <div>Hello</div>
                <div>{{ displayName | async }}</div>
            </div>
        </div>
        <div class="companyLogo" id="narrow" [routerLink]="['/']">
            <p>{{ appName.header }}</p>
            <p>{{ appName.subHeader }}</p>
        </div>
        <div *ngIf="(loginStatus | async)" id="menuNarrow">
            <img class="item" [routerLink]="['/customers']" [src]="customersImg" id="customers" (mouseenter)="onShow('customersImg', 'customers-hover')" (mouseleave)="onHide('customersImg', 'customers')">
            <img class="item" [routerLink]="['/destinations']" [src]="destinationsImg" id="destinations" (mouseenter)="onShow('destinationsImg', 'destinations-hover')" (mouseleave)="onHide('destinationsImg', 'destinations')">
            <img class="item" [routerLink]="['/drivers']" [src]="driversImg" id="drivers" (mouseenter)="onShow('driversImg', 'drivers-hover')" (mouseleave)="onHide('driversImg', 'drivers')">
            <img class="item" [routerLink]="['/pickupPoints']" [src]="pickupPointsImg" id="pickupPoints" (mouseenter)="onShow('pickupPointsImg', 'pickupPoints-hover')" (mouseleave)="onHide('pickupPointsImg', 'pickupPoints')">
            <img class="item" [routerLink]="['/ports']" [src]="portsImg" id="ports" (mouseenter)="onShow('portsImg', 'ports-hover')" (mouseleave)="onHide('portsImg', 'ports')">
            <img class="item" [routerLink]="['/routes']" [src]="routesImg" id="routes" (mouseenter)="onShow('routesImg', 'routes-hover')" (mouseleave)="onHide('routesImg', 'routes')">
            <img class="item" [routerLink]="['/transfers']" [src]="transfersImg" id="transfers" (mouseenter)="onShow('transfersImg', 'transfers-hover')" (mouseleave)="onHide('transfersImg', 'transfers')">
            <img class="item" [routerLink]="['/users']" [src]="usersImg" id="users" (mouseenter)="onShow('usersImg', 'users-hover')" (mouseleave)="onHide('usersImg', 'users')">
            <img class="item" (click)="onLogout()" [src]="logoutImg" id="users" (mouseenter)="onShow('logoutImg', 'logout-hover')" (mouseleave)="onHide('logoutImg', 'logout')">
        </div>
    </div>
</div>