<div data-cy="dialog" id="dialog">

    <div id="dialog-header">
        <div id="title">
            <h1 mat-dialog-title>{{ header }}</h1>
        </div>
    </div>

    <div class="scrollable">
        <table>
            <thead>
                <tr>
                    <th (click)="onHeaderClick('description', sortOrder)">{{ onGetLabel('description') }}</th>
                    <th (click)="onHeaderClick('persons', sortOrder)">{{ onGetLabel('persons') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records">
                    <td>{{ record.description }}</td>
                    <td class="right">{{ record.persons }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="dialog-footer">
        <button mat-flat-button class="primary" (click)="onCloseDialog()">Close</button>
    </div>

</div>