#table-wrapper {
    background-color: var(--color-j);
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}

table {
    border-spacing: 0;
    flex: 1;
    transition: background-color 0.7s;
    width: 100%;
}

th {
    background-color: var(--color-a);
    color: var(--color-n);
    font-family: var(--font-family-table-header);
    font-size: var(--font-size-table-header);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-table-header);
    padding: 0.5rem;
    position: sticky;
    text-align: center;
    top: 0;
    transition: background-color 0.7s;
    z-index: 1;
}

th:not(:last-child) {
    border-right: 0.0625rem dotted var(--color-j);
}

th:nth-child(1) {
    width: 400px;
}

th:nth-child(2) {
    width: 100px;
}

th:hover {
    background-color: var(--color-l);
    color: var(--color-a);
    cursor: pointer;
    font-weight: bold;
}

tr:hover {
    background-color: var(--color-l);
}

tr:hover td {
    background-color: var(--color-l);
    color: var(--color-a);
    cursor: default;
    font-weight: bold;
}

tr:hover td:last-child>div>.button-row-menu {
    visibility: visible;
}

td {
    color: var(--color-n);
    font-family: var(--font-family-table-body);
    font-size: var(--font-size-table-row);
    max-width: 0;
    overflow: hidden;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.right {
    text-align: right;
}

.scrollable::-webkit-scrollbar-track {
    border-left: 0.0625rem dotted var(--color-n);
}