<button id="selector" mat-icon-button [matMenuTriggerFor]="languageMenu">
    <img src="/assets/images/flags/{{ onGetLanguage() }}.svg" width="25px">
</button>

<mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="onSaveLanguage('el-GR')">
        <mat-icon svgIcon="el"></mat-icon>
        <span class="option">Ελληνικα</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('en-GB')">
        <mat-icon svgIcon="en"></mat-icon>
        <span class="option">English</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('de-DE')">
        <mat-icon svgIcon="de"></mat-icon>
        <span class="option">Deutsch</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('cs-CZ')">
        <mat-icon svgIcon="cs"></mat-icon>
        <span class="option">Česky</span>
    </button>
</mat-menu>