#selector {
    margin: -0.25rem 1rem 0 0;
}

.option {
    color: var(--color-select-items);
    font-family: "PF Handbook Pro";
    font-size: 19px;
    font-variant-caps: small-caps;
    font-weight: 500;
}

.mat-menu-item {
    display: flex;
    justify-content: flex-start;
}