:host {
    display: flex;
}

#main {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    height: 100vh;
    overflow-y: hidden;
}