<link rel="stylesheet" href="~/styles/notifications.css">

<div id="content">
    <div id="companyLogo">
        <p>People</p>
        <p>movers</p>
    </div>
    <p class="message error">This account is already activated</p>
    <p class="message error">- or -</p>
    <p class="message error">you provided wrong input</p>
    <a href="/login">Login</a>
</div>