table {
    border-spacing: 0;
    flex: 1;
    transition: background-color 0.7s;
    width: 100%;
}

th {
    background-color: var(--color-background-secondary);
    border-right: 0.125rem solid var(--color-background-table);
    color: var(--color-text-primary);
    font-family: var(--font-family-table-header);
    font-size: var(--font-size-table-header);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-table-header);
    padding: 0.4rem;
    position: sticky;
    text-align: center;
    top: 0;
    transition: background-color 0.7s;
    z-index: 1;
}

th:nth-child(1) {
    width: 400px;
}

th:nth-child(2) {
    width: 100px;
}

th:hover {
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    cursor: pointer;
    font-weight: bold;
}

tr:hover td {
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    cursor: default;
    font-weight: bold;
}

tr:hover td:last-child>div>.button-row-menu {
    visibility: visible;
}

td {
    color: var(--color-text-primary);
    font-family: var(--font-family-table-body);
    font-size: var(--font-size-table-row);
    max-width: 0;
    overflow: hidden;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.right {
    text-align: right;
}

#table-wrapper .scrollable::-webkit-scrollbar-thumb {
    border-top: 34px solid var(--color-background-secondary) !important;
}