<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/routes']" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <div id="panelButtons">
            <button mat-flat-button class="tab" id="formTab" [disabled]="activePanel=='form'" (click)="onFocusFormPanel()">{{ onGetLabel('formTab') }}</button>
            <button mat-flat-button class="tab" id="mapTab" [disabled]="activePanel=='map'" (click)="onFocusMapPanel()">{{ onGetLabel('mapTab') }}</button>
        </div>
        <div id="form" [class.hidden]="activePanel=='map'">
            <form data-cy="form" [formGroup]='form' autocomplete='off'>
                <mat-form-field>
                    <input data-cy="abbreviation" type="text" matInput [placeholder]="onGetLabel('abbreviation')" formControlName="abbreviation" data-tabindex="1" id="abbreviation" [inputTabStop]="input">
                    <mat-error *ngIf="abbreviation.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="abbreviation.hasError('maxlength')">{{ onGetHint('maxLength', abbreviation.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="description" type="text" matInput [placeholder]="onGetLabel('description')" formControlName="description" data-tabindex="2" id="description" [inputTabStop]="input">
                    <mat-error *ngIf="description.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="description.hasError('maxlength')">{{ onGetHint('maxLength', description.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="portDescription" type="text" matInput [placeholder]="onGetLabel('port')" formControlName="portDescription" data-tabindex="3" id="portDescription" [inputTabStop]="input" (change)="onLookupIndex(ports, 'ports', ['portId', 'portDescription', ''], ['portId', 'portDescription', ''], ['portId', 'portDescription', ''], ['1px', '440px', '56px'], ['none'], ['center', 'left', 'center'], ['', '', ''], $event)">
                    <mat-error *ngIf="portDescription.hasError('required')">{{ onGetHint('required') }}</mat-error>
                </mat-form-field>
                <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ onGetLabel('isActive') }}</mat-slide-toggle>
            </form>
            <p class="instructions" [class.hidden]=environment>{{ form.value | json }} {{ form.valid }}</p>
        </div>
        <div id="map-outer-wrapper" [class.hidden]="activePanel=='form'">
            <div *ngIf="pickupPoints" id="map-wrapper">
                <map [pickupPoints]="pickupPoints" (outputCoordinates)="onUpdateCoordinates($event)"></map>
            </div>
        </div>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">{{ onGetLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>