#content {
    flex-direction: column;
}

#panelButtons button {
    border-radius: 0;
    color: var(--color-text-primary) !important;
    font-size: var(--font-size-panel-buttons) !important;
    font-variant-caps: petite-caps;
}

#form {
    height: 100%;
    width: 100%;
}

#map-outer-wrapper {
    height: 100%;
    padding-top: 1rem;
    width: 100%;
}

#map-wrapper {
    height: 100%;
    width: 100%;
}