<div data-cy="dialog" id="dialog">

    <div id="dialog-header">
        <h1 mat-dialog-title>{{ onGetLabel(title) }}</h1>
    </div>

    <div id="dialog-content" class="scrollable">
        <custom-table [feature]="feature" [records]="records" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></custom-table>
    </div>

    <div id="dialog-footer">
        <button id="close" mat-flat-button class="primary" [mat-dialog-close]="selectedRecord">{{ onGetLabel('selectButton') }}</button>
    </div>

</div>