#sidebar-wide {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userInfo#wide {
    font-size: var(--font-size-user-info);
    margin: 1.5rem auto 0;
    min-height: 1.5rem;
}

.companyLogo#wide :nth-child(1) {
    font-size: var(--font-size-logo-first-child) !important;
}

.companyLogo#wide :nth-child(2) {
    font-size: var(--font-size-logo-second-child) !important;
    margin: -1rem 0 0 0 !important;
}

#double-ring {
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
}

#menuWide {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 1.4rem 0 1rem 0;
}

#menuWide ul {
    color: var(--color-menu-list-items);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-menu-list-items);
    font-size: var(--font-size-menu-list-items);
    line-height: 2.5rem;
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

#menuWide ul > li {
    line-height: 2.5rem !important;
    outline: 0;
    transition: font-size;
    transition-duration: 200ms;
}

#menuWide ul > li:last-child {
    margin-top: auto;
}

#menuWide ul > li:hover, #menuWide ul > li.active {
    color: var(--color-menu-active-item);
    cursor: pointer;
    font-size: var(--font-size-menu-list-item-active);
}

#copyright {
    color: var(--color-copyright);
    font-family: var(--font-family-copyright);
    font-size: var(--font-size-copyright);
    margin: auto auto 1.5rem;
    min-height: 1.5rem;
    text-align: center;
}

/* Small heights = hide bus circle */

@media only screen and (max-height: 799px) {
    #companyLogo {
        margin-bottom: 1rem;
    }

    #double-ring {
        display: none;
    }

    #menuWide {
        margin-top: 0;
    }

    #menuItems {
        line-height: 2rem !important;
    }
}

/* ! Wide */

@media only screen and (min-width: 1367px) {
    #sidebar-wide {
        width: 17rem !important;
    }

    #sidebar-narrow {
        display: none;
        width: 0 !important;
    }

    #section {
        margin-left: 17rem !important;
    }
}

/* ! Narrow  */

@media only screen and (max-width: 1366px) {
    #sidebar-wide {
        display: none;
    }

    #sidebar-narrow {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 5rem !important;
    }

    #section {
        margin-left: 5rem !important;
    }
}
