<div *ngIf="isScreenWide" id="sidebar-wide">
    <div class="userInfo" id="wide">
        <div *ngIf="(loginStatus | async)">
            <div>Hello, {{ displayName | async }}</div>
        </div>
    </div>
    <div class="companyLogo" id="wide" [routerLink]="['/']">
        <p>{{ appName.header }}</p>
        <p>{{ appName.subHeader }}</p>
    </div>
    <div id="double-ring" [routerLink]="['/']">
        <double-ring></double-ring>
    </div>
    <div *ngIf="(loginStatus | async)" id="menuWide">
        <ul id="menuItems">
            <li data-cy="customers" [routerLink]="['/customers']" routerLinkActive="active">Customers</li>
            <li data-cy="drivers" [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
            <li data-cy="destinations" [routerLink]="['/drivers']" routerLinkActive="active">Drivers</li>
            <li data-cy="pickupPoints" [routerLink]="['/pickupPoints']" routerLinkActive="active">Pickup points</li>
            <li data-cy="ports" [routerLink]="['/ports']" routerLinkActive="active">Ports</li>
            <li data-cy="routes" [routerLink]="['/routes']" routerLinkActive="active">Routes</li>
            <li data-cy="transfers" [routerLink]="['/transfers']" routerLinkActive="active">Transfers</li>
            <li data-cy="users" [routerLink]="['/users']" routerLinkActive="active">Users</li>
            <li data-cy="logout" (click)="onLogout()" routerLinkActive="active">Logout</li>
        </ul>
    </div>
    <div id="copyright">Created with .NET Core<br />and Angular</div>
</div>