<div id="language-menu">
    <ul>
        <li><button mat-menu-item><img src="/assets/images/flags/{{ onGetLanguage() }}.svg" width="25px"><img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow.svg"></button>
            <ul class="sub-menu" (click)="onHideMenu()">
                <button mat-menu-item (click)="onSaveLanguage('el-GR')"><img src="/assets/images/flags/el-GR.svg">Ελληνικα</button>
                <button mat-menu-item (click)="onSaveLanguage('en-GB')"><img src="/assets/images/flags/en-GB.svg">English</button>
                <button mat-menu-item (click)="onSaveLanguage('de-DE')"><img src="/assets/images/flags/de-DE.svg">Deutsch</button>
                <button mat-menu-item (click)="onSaveLanguage('cs-CZ')"><img src="/assets/images/flags/cs-CZ.svg">Česky</button>
            </ul>
        </li>
    </ul>
</div>