#wrapper {
    background-color: var(--color-background);
    display: flex;
    height: 100vh;
    width: 100vw;
    transition: 0.7s;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content {
    flex: 1;
    justify-content: center;
    overflow-y: hidden;
}

#spinner {
    border: 3px solid var(--color-spinner-background);
    border-top: 3px solid var(--color-spinner);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    animation: spin 1700ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}