#wrapper {
    background-color: var(--color-background);
    display: flex;
    height: 100vh;
    width: 100vw;
    transition: background-color 0.7s;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

#content {
    flex: 1;
    justify-content: center;
    overflow-y: hidden;
    box-shadow: inset 0.125rem 0.125rem 10px -0.3125rem #0a0a0a;
}

#spinner {
    border: 0.1875rem solid var(--color-spinner-background);
    border-top: 0.1875rem solid var(--color-spinner);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    animation: spin 1700ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}