<div *ngIf="isScreenNarrow" id="sidebar-narrow">
    <div data-cy="companyLogo" class="companyLogo" id="narrow" [routerLink]="['/']">
        <p>{{ appName.header }}</p>
        <p>{{ appName.subHeader }}</p>
    </div>
    <div *ngIf="(loginStatus | async)" id="menuNarrow">
        <mat-button-toggle-group @fade>
            <mat-button-toggle data-cy="customers" routerLink="/customers" routerLinkActive="active"><img src="{{imagePathName}}customers-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="destinations" routerLink="/destinations" routerLinkActive="active"><img src="{{imagePathName}}destinations-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="drivers" routerLink="/drivers" routerLinkActive="active"><img src="{{imagePathName}}drivers-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="pickupPoints" routerLink="/pickupPoints" routerLinkActive="active"><img src="{{imagePathName}}pickupPoints-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="ports" routerLink="/ports" routerLinkActive="active"><img src="{{imagePathName}}ports-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="routes" routerLink="/routes" routerLinkActive="active"><img src="{{imagePathName}}routes-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="transfers" routerLink="/transfers" routerLinkActive="active"><img src="{{imagePathName}}transfers-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="users" routerLink="/users" routerLinkActive="active"><img src="{{imagePathName}}users-{{theme}}.png" width="24px"></mat-button-toggle>
            <mat-button-toggle data-cy="logout" (click)="onLogout()" routerLinkActive="active"><img src="{{imagePathName}}logout-{{theme}}.png" width="24px"></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>