#sidebar-narrow {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5rem !important;
}

.companyLogo#narrow {
    margin: 3rem 0 1rem 0;
}

.companyLogo#narrow :nth-child(1) {
    font-size: 1.5625rem !important;
}

.companyLogo#narrow :nth-child(2) {
    font-size: 1rem !important;
    margin-top: -0.5rem !important;
}

#menuNarrow {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 2.5rem;
}

.mat-button-toggle-group {
    border: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mat-button-toggle {
    border: 0 !important;
    background-color: var(--color-sidebar);
    padding: 0.3125rem;
}

.mat-button-toggle:last-child {
    margin-top: auto;
}

.mat-button-toggle-checked {
    background-color: var(--color-toggle-background);
}

.mat-button-toggle:hover {
    background-color: var(--color-toggle-background);
    transition: background 300ms;
}