@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

body, h1, h2, h3, p {
    margin: 0 !important;
    padding: 0 !important;
}

#content {
    align-items: center;
    background-color: #373F46;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#companyLogo {
    cursor: pointer;
    font-family: "Yanone Kaffeesatz";
    margin: 0 auto 1.5rem;
    outline: 0;
    text-align: center;
}

#companyLogo>:first-child {
    color: #FE9F36 !important;
    font-size: 6rem !important;
}

#companyLogo>:last-child {
    color: #FFE85C !important;
    font-size: 3.5rem !important;
    font-weight: normal !important;
    margin: -1rem 0 0 0 !important;
}

.message {
    color: #ffc788;
    font-family: "Ubuntu Condensed";
    font-size: 1.5rem;
}

.error {
    color: #EF1717 !important;
}

input[type=submit], a {
    background-color: #57617B !important;
    border-radius: 0.3125rem;
    border: none;
    color: #FFFDDD !important;
    cursor: pointer !important;
    font-family: "Ubuntu Condensed" !important;
    font-size: 1.25rem;
    font-weight: 100 !important;
    margin: 2rem 0 0 0 !important;
    min-width: 0 !important;
    outline: 0 !important;
    padding: 1rem 2rem 1rem 2rem !important;
    text-decoration: none;
}