<div id="header">
    <div id="title">
        <h1>Login</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="section-one">
            <mat-form-field>
                <input type="text" matInput [inputTabStop]="input" data-tabindex="1" formControlName="userName" id="userName" placeholder="Username">
                <mat-error *ngIf="Username.errors?.required">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [type]="hidePassword ? 'password' : 'text'" matInput [inputTabStop]="input" data-tabindex="2" formControlName="password" id="password" placeholder="Password">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="Password?.hasError('required')">This is a required field!</mat-error>
            </mat-form-field>
            <div id="secondary-fields">
                <button mat-flat-button class="transparent" id="forgotPassword" (click)="onForgotPassword()">Forgot password?</button>
            </div>
        </div>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
        <button mat-flat-button class="primary" id="login" [disabled]="!form.valid" (click)="onLogin()">Login</button>
    </div>
</div>