<div id="header">
    <div id="title">
        <h1>Login</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="section-one">
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="userName" data-tabindex="1" id="userName" [inputTabStop]="input">
                <mat-error *ngIf="Username.errors?.required">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" data-tabindex="2" id="password" [inputTabStop]="input">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="Password?.hasError('required')">This is a required field!</mat-error>
            </mat-form-field>
            <mat-slide-toggle formControlName="isHuman">I'm not a robot</mat-slide-toggle>
        </div>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
        <button mat-flat-button class="secondary" id="forgotPassword" (click)="onForgotPassword()">Forgot password?</button>
        <button mat-flat-button class="primary" id="login" [disabled]="!form.valid" (click)="onLogin()">Login</button>
    </div>
</div>