#header #search-box {
    margin-right: 1rem;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 16rem !important;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2rem;
    height: 100%;
    overflow: hidden;
}

#statistics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#chart {
    background-color: var(--color-background-summary);
    height: 100%;
    width: 100%;
}

.period-summary {
    background-color: var(--color-background-summary);
    border-left: 2px solid var(--color-background-table);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
}

.period-summary.active {
    background-color: var(--color-background-selected);
}

.period-summary:nth-child(2) {
    margin-top: auto;
}

.period-summary .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.period-summary .header div {
    align-items: center;
    display: flex;
}

.period-summary .header .menu {
    margin-left: auto;
}

.period-summary .body {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}

.total, .percent, .adults, .kids, .free {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.free {
    padding-right: 0.5rem;
}

.total {
    max-width: 8rem;
    min-width: 8rem;
}

.adults, .kids, .free {
    min-width: 4rem;
}

.total-persons {
    color: var(--color-logo-primary);
    font-family: var(--font-family-header);
    font-size: var(--font-size-total-persons-overview);
    font-weight: var(--font-weight-header);
}

.total-persons:last-child {
    font-size: 22px !important;
    line-height: 22px !important;
}

.sub-total-header {
    color: var(--color-text-primary);
    font-family: var(--font-family-summary-header);
    font-size: var(--font-size-overview-total-header);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-header);
}

.sub-total {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
    font-size: var(--font-size-sum-persons);
    font-weight: var(--font-weight-header);
    justify-content: center;
    line-height: 1.31rem;
}

.percent {
    color: var(--color-text-secondary);
    font-family: var(--font-family-overview-percent);
    font-size: var(--font-size-sum);
    font-weight: var(--font-weight-header);
    margin-left: auto;
}

.mat-icon {
    color: var(--color-text-primary) !important;
}

#details {
    background-color: var(--color-background-summary);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    padding: 2rem;
    width: 100%;
}

.option {
    color: var(--color-select-items);
    font-family: var(--font-family-menu-list-item);
    font-size: 19px;
    font-variant-caps: small-caps;
    font-weight: 500;
    padding-left: 1rem;
}

.mat-menu-item {
    display: flex;
    justify-content: flex-start;
}

@media (max-height:720px) {
    #statistics {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .period-summary {
        align-items: center;
        flex-direction: column;
        margin-top: 0 !important;
        padding: 1rem;
    }
    .period-summary .header {
        flex-direction: column;
        margin-left: 0;
        padding-bottom: 0;
        width: 100%;
    }
    .period-summary .header .menu {
        margin-left: -1rem !important;
    }
    .period-summary .body {
        align-items: center;
        flex-direction: column;
        margin-top: auto;
    }
    .percent {
        margin-left: 0;
    }
    .total {
        display: flex;
        flex-direction: column;
    }
    .adults, .kids, .free {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .total-persons {
        font-size: 2rem;
    }
    .sub-total {
        line-height: 2rem;
    }
    #details {
        padding: 1rem 0.5rem 0rem 0.5rem;
    }
}