<div id="list">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
        <div id="search-box">
            <form data-cy="form" [formGroup]="form" autocomplete="off">
                <mat-form-field class="no-bottom-margin">
                    <mat-label>{{ onGetLabel('dateRange') }}</mat-label>
                    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                        <input data-cy="fromDate" matStartDate matInput class="center" id="fromDate" formControlName="fromDate" [inputFormat]="'date'" data-tabindex="1" [inputTabStop]="input" autocomplete="off">
                        <input data-cy="toDate" matEndDate matInput class="center" id="toDate" formControlName="toDate" [inputFormat]="'date'" data-tabindex="2" [inputTabStop]="input" autocomplete="off">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error *ngIf="fromDate.hasError('required') || toDate.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="fromDate.hasError('matfromDateInvalid') || toDate.hasError('mattoDateInvalid')">{{ onGetHint('invalid') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchHint') }}</mat-hint>
                </mat-form-field>
            </form>
            <button data-cy="search" mat-flat-button id="search" class="primary" (click)="onLoadStatisticsForPeriod()">{{ onGetLabel('searchButton') }}</button>
        </div>
    </div>

    <div id="content">
        <div id="statistics">
            <div class="period-summary" id="period" (click)="onLoadDetails('period')">
                <div class="header">
                    <h1>{{ onGetLabel('period') }}</h1>
                    <div class="percent">
                        <span [ngClass]="period.color">{{ period.percent | decoratePercent }}</span>
                    </div>
                </div>
                <div class="body">
                    <div class="total">
                        <h3>{{ onGetLabel('total') }}</h3>
                        <span class="total-persons">{{ period.persons }}</span>
                    </div>
                    <div class="adults">
                        <h3>{{ onGetLabel('adults') }}</h3>
                        <span class="sub-total">{{ period.adults }}</span>
                    </div>
                    <div class="kids">
                        <h3>{{ onGetLabel('kids') }}</h3>
                        <span class="sub-total">{{ period.kids }}</span>
                    </div>
                    <div class="free">
                        <h3>{{ onGetLabel('free') }}</h3>
                        <span class="sub-total">{{ period.free }}</span>
                    </div>
                </div>
            </div>
            <div class="period-summary" id="mtd" (click)="onLoadDetails('mtd')">
                <div class="header">
                    <h1>{{ onGetLabel('mtd') }}</h1>
                    <div class="percent">
                        <span [ngClass]="MTD.color">{{ MTD.percent | decoratePercent }}</span>
                    </div>
                </div>
                <div class="body">
                    <div class="total">
                        <h3>{{ onGetLabel('total') }}</h3>
                        <span class="total-persons">{{ MTD.persons }}</span>
                    </div>
                    <div class="adults">
                        <h3>{{ onGetLabel('adults') }}</h3>
                        <span class="sub-total">{{ MTD.adults }}</span>
                    </div>
                    <div class="kids">
                        <h3>{{ onGetLabel('kids') }}</h3>
                        <span class="sub-total">{{ MTD.kids }}</span>
                    </div>
                    <div class="free">
                        <h3>{{ onGetLabel('free') }}</h3>
                        <span class="sub-total">{{ MTD.free }}</span>
                    </div>
                </div>
            </div>
            <div class="period-summary" id="ytd" (click)="onLoadDetails('ytd')">
                <div class="header">
                    <h1>{{ onGetLabel('ytd') }}</h1>
                    <div class="percent">
                        <span [ngClass]="YTD.color">{{ YTD.percent  | decoratePercent }}</span>
                    </div>
                </div>
                <div class="body">
                    <div class="total">
                        <h3>{{ onGetLabel('total') }}</h3>
                        <span class="total-persons">{{ YTD.persons }}</span>
                    </div>
                    <div class="adults">
                        <h3>{{ onGetLabel('adults') }}</h3>
                        <span class="sub-total">{{ YTD.adults }}</span>
                    </div>
                    <div class="kids">
                        <h3>{{ onGetLabel('kids') }}</h3>
                        <span class="sub-total">{{ YTD.kids }}</span>
                    </div>
                    <div class="free">
                        <h3>{{ onGetLabel('free') }}</h3>
                        <span class="sub-total">{{ YTD.free }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="details">
            <overview-details [records]="details" [isLoaderVisible]="isLoaderVisible" [isDataFound]="isDataFound"></overview-details>
        </div>
    </div>

</div>