#header #search-box {
    margin-right: 1rem;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 16rem !important;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2rem;
    height: 100%;
    overflow: hidden;
}

#statistics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.period-summary {
    background-color: var(--color-background-table);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
}

.period-summary.active {
    background-color: var(--color-period-summary-active) !important;
}

.period-summary:hover {
    background-color: var(--color-period-summary-active) !important;
    cursor: pointer;
    transition-duration: 500ms;
}

.period-summary:nth-child(2) {
    margin-top: auto;
}

.period-summary .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.period-summary .body {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}

.total, .percent, .adults, .kids, .free {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.total, .adults, .kids, .free {
    background-color: #3c44484f;
    padding-right: 0;
}

.total {
    max-width: 8rem;
    min-width: 8rem;
    padding: 0.5rem 0;
}

.adults, .kids, .free {
    max-width: 4rem;
    min-width: 4rem;
    padding-bottom: 0.5rem;
}

h2, h3 {
    color: var(--color-text-primary);
    font-variant-caps: petite-caps;
}

.total-persons {
    color: var(--color-logo-primary);
    font-family: var(--font-family-header);
    font-size: 2.5rem;
    font-weight: var(--font-weight-header);
}

.sub-total {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
    font-size: 1.3rem;
    font-weight: var(--font-weight-header);
    justify-content: center;
    line-height: 1.31rem;
}

.percent span {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
}

.mat-icon {
    color: var(--color-text-button) !important;
}

#details {
    background-color: var(--color-background-table);
    border-radius: 10px;
    height: 100%;
    overflow-x: hidden;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
}

@media (max-height:768px) {
    #statistics {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .period-summary {
        align-items: center;
        flex-direction: row;
        padding: 1rem;
    }
    .period-summary .header {
        flex-direction: column;
        padding-bottom: 0;
        width: 100%;
    }
    .period-summary .body {
        align-items: center;
        flex-direction: row;
        margin-left: 1rem;
        margin-top: 0;
    }
    .total, .adults, .kids, .free {
        padding-bottom: 0;
    }
    .total {
        padding: 0;
    }
    .total-persons {
        font-size: 2rem;
    }
    .sub-total {
        line-height: 2rem;
    }
    #details {
        padding: 1rem 0.5rem 0rem 0.5rem;
    }
}