#header #search-box {
    margin-right: 1rem;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 16rem !important;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#statistics {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.period-summary {
    background-color: var(--color-background-table);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
}

.period-summary .header {
    display: flex;
}

.period-summary .header h1 {
    width: 95%;
}

.period-summary .header button {
    margin: 0;
    width: 5%;
}

.period-summary .body {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.total, .percent, .adults, .kids, .free {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.percent, .adults, .kids, .free {
    padding-bottom: 7px;
}

h2, h3 {
    color: var(--color-text-primary);
    font-variant-caps: petite-caps;
}

span.total {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-header);
}

.total span.total {
    font-size: 2.5rem;
}

.total h3 {
    line-height: 8px;
    padding-top: 1rem !important;
}

span.sub-total {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
    font-size: 1.3rem;
    font-weight: var(--font-weight-header);
}

.percent span {
    color: var(--color-text-secondary);
    font-family: var(--font-family-header);
    padding-bottom: 10px;
}

.green {
    color: var(--color-snackbar-info) !important;
}

.red {
    color: var(--color-button-delete) !important;
}

.blue {
    color: lightblue !important;
}

.mat-icon {
    color: var(--color-text-button) !important;
}

#details {
    background-color: var(--color-background-table);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
}