#wrapper {
    align-items: center;
    background-color: var(--color-background-secondary);
    border-radius: 20px 0 0 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#home-page-logo {
    color: var(--color-text-primary);
    cursor: default;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-logo);
    font-weight: bold;
    opacity: 5%;
    outline: 0;
    text-align: center;
}

#home-page-logo span:nth-child(1) {
    font-size: var(--font-size-logo-home-page-first-child) !important;
}

#home-page-logo span:nth-child(3) {
    font-size: var(--font-size-logo-home-page-second-child) !important;
    margin-top: -3.5rem;
}