<div id="header">
    <div id="navigation">
        <button mat-mini-fab class="navigation">
            <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
        </button>
    </div>
    <div id="title">
        <h1>Forgot password</h1>
    </div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="section-one">
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email" id="email" data-tabindex="1" [inputTabStop]="input">
                <mat-error *ngIf="email.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="email.hasError('email')">This email seems to be invalid!</mat-error>
            </mat-form-field>
        </div>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
</div>

<div id="footer">
    <div id="buttons">
        <button mat-flat-button class="primary" id="save" [disabled]="!form.valid" (click)="onSave()">Submit</button>
    </div>
</div>