<div id="form">

    <div id="header">
        <div id="navigation">
            <button mat-mini-fab class="navigation">
                <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input type="email" matInput [placeholder]="onGetLabel('email')" formControlName="email" id="email" data-tabindex="1" [inputTabStop]="input">
                <mat-error *ngIf="email.errors?.required">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="email.hasError('email')">{{ onGetHint('invalid') }}</mat-error>
            </mat-form-field>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" id="save" [disabled]="!form.valid" (click)="onSave()">{{ onGetLabel('submitButton') }}</button>
        </div>
    </div>

</div>