<div id="form">

    <div id="header">
        <div id="title">
            <h1>Password reset</h1>
        </div>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" data-tabindex="1" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="Password?.hasError('required')">{{ getHint('required') }}</mat-error>
                    <mat-error *ngIf="Password?.hasError('containsSpace')">{{ getHint('noSpaces') }}</mat-error>
                    <mat-error *ngIf="Password?.hasError('minlength') && !Password?.hasError('containsSpace')">{{ getHint('minLength') }}</mat-error>
                    <mat-error *ngIf="Password?.hasError('maxlength') && !Password?.hasError('containsSpace')">{{ getHint('maxLength') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm password" formControlName="confirmPassword" data-tabindex="2" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="ConfirmPassword?.hasError('required')">{{ getHint('required') }}</mat-error>
                    <mat-error *ngIf="!ConfirmPassword?.hasError('required') && !MatchingPasswords">{{ getHint('passwordsNoMatch') }}</mat-error>
                    <mat-error *ngIf="!ConfirmPassword?.hasError('required') && MatchingPasswords">{{ getHint('invalid') }}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" id="save" [disabled]="!form.valid" (click)="onSave()">Save</button>
        </div>
    </div>

</div>