<div id="form">

    <div @slideFromLeft id="header">
        <div id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form data-cy="form" [formGroup]="form" autocomplete="off">
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input data-cy="password" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('password')" formControlName="password" data-tabindex="1" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ onGetHint('spacesNotAllowed') }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ onGetHint('minLength', password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ onGetHint('maxLength', password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="confirmPassword" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="onGetLabel('confirmPassword')" formControlName="confirmPassword" data-tabindex="2" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ onGetHint('passwordsNoMatch') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ onGetHint('invalid') }}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="save" mat-flat-button class="primary" id="save" [disabled]="!form.valid" (click)="onSave()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>