<div id="form">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" id="goBack" [routerLink]="['/customers']" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form data-cy="form" [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input data-cy="description" type="text" matInput [placeholder]="getLabel('description')" formControlName="description" data-tabindex="1" id="description" [inputTabStop]="input">
                <mat-error *ngIf="description.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="description.errors?.maxlength">This field can be up to {{ description.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="profession" type="text" matInput [placeholder]="getLabel('profession')" formControlName="profession" data-tabindex="2" id="profession" [inputTabStop]="input">
                <mat-error *ngIf="profession.errors?.maxlength">This field can be up to {{ profession.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="address" type="text" matInput [placeholder]="getLabel('address')" formControlName="address" data-tabindex="3" id="address" [inputTabStop]="input">
                <mat-error *ngIf="address.errors?.maxlength">This field can be up to {{ address.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="phones" type="text" matInput [placeholder]="getLabel('phones')" formControlName="phones" data-tabindex="4" id="phones" [inputTabStop]="input">
                    <mat-error *ngIf="phones.errors?.maxlength">This field can be up to {{ phones.errors.maxlength.requiredLength }} characters long</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="personInCharge" type="text" matInput [placeholder]="getLabel('personInCharge')" formControlName="personInCharge" data-tabindex="5" id="personInCharge" [inputTabStop]="input">
                    <mat-error *ngIf="personInCharge.errors?.maxlength">This field can be up to {{ personInCharge.errors.maxlength.requiredLength }} characters long</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input data-cy="email" type="text" matInput [placeholder]="getLabel('email')" formControlName="email" data-tabindex="6" id="email" [inputTabStop]="input">
                <mat-error *ngIf="email.errors?.email">This doesn't look like an email</mat-error>
                <mat-error *ngIf="email.errors?.maxlength">This field can be up to {{ email.errors.maxlength.requiredLength }} characters long</mat-error>
            </mat-form-field>
            <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ getLabel('isActive') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=environment>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">{{ getLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ getLabel('saveButton') }}</button>
        </div>
    </div>

</div>