<div id="form">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/customers']" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form data-cy="form" [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input data-cy="description" type="text" matInput [placeholder]="onGetLabel('description')" formControlName="description" data-tabindex="1" id="description" [inputTabStop]="input">
                <mat-error *ngIf="description.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ onGetHint('maxLength', description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="profession" type="text" matInput [placeholder]="onGetLabel('profession')" formControlName="profession" data-tabindex="2" id="profession" [inputTabStop]="input">
                    <mat-error *ngIf="profession.hasError('maxlength')">{{ onGetHint('maxLength', profession.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="address" type="text" matInput [placeholder]="onGetLabel('address')" formControlName="address" data-tabindex="3" id="address" [inputTabStop]="input">
                    <mat-error *ngIf="address.hasError('maxlength')">{{ onGetHint('maxLength', address.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="phones" type="text" matInput [placeholder]="onGetLabel('phones')" formControlName="phones" data-tabindex="4" id="phones" [inputTabStop]="input">
                    <mat-error *ngIf="phones.hasError('maxlength')">{{ onGetHint('maxLength', phones.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="personInCharge" type="text" matInput [placeholder]="onGetLabel('personInCharge')" formControlName="personInCharge" data-tabindex="5" id="personInCharge" [inputTabStop]="input">
                    <mat-error *ngIf="personInCharge.hasError('maxlength')">{{ onGetHint('maxLength', personInCharge.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input data-cy="email" type="text" matInput [placeholder]="onGetLabel('email')" formControlName="email" data-tabindex="6" id="email" [inputTabStop]="input">
                <mat-error *ngIf="email.hasError('maxlength')">{{ onGetHint('maxLength', email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ onGetHint('invalid') }}</mat-error>
            </mat-form-field>
            <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ onGetLabel('isActive') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=environment>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">{{ onGetLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>