#languageMenu {
    cursor: pointer;
    display: flex;
    margin-right: 2rem;
    padding: 9px 0 9px 0;
}

.option {
    color: var(--color-select-items);
    font-family: "PF Handbook Pro";
    font-size: 19px;
    font-variant-caps: small-caps;
    font-weight: 500;
}

.mat-menu-item {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem !important;
}