<div id="languageMenu" [matMenuTriggerFor]="languageMenu">
    <img src="/assets/images/flags/{{ onGetLanguage() }}.svg" width="25px">
    <img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow-{{ theme }}.svg">
</div>

<mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="onSaveLanguage('el-GR')">
        <img src="/assets/images/flags/el-GR.svg">
        <span class="option">Ελληνικα</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('en-GB')">
        <img src="/assets/images/flags/en-GB.svg">
        <span class="option">English</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('de-DE')">
        <img src="/assets/images/flags/de-DE.svg">
        <span class="option">Deutsch</span>
    </button>
    <button mat-menu-item (click)="onSaveLanguage('cs-CZ')">
        <img src="/assets/images/flags/cs-CZ.svg">
        <span class="option">Česky</span>
    </button>
</mat-menu>