:host {
    display: flex;
}

#sidebar {
    display: grid;
    height: 100%;
}

nav {
    background-color: var(--color-sidebar);
    display: flex;
    height: 100vh;
    transition: background-color 0.7s;
}


.companyLogo {
    cursor: pointer;
    font-family: var(--font-family-logo);
    margin: 3rem auto 1.5rem;
    outline: 0;
    text-align: center;
}

.companyLogo :nth-child(1) {
    color: var(--color-company-logo-first-child) !important;
}

.companyLogo :nth-child(2) {
    color: var(--color-company-logo-second-child) !important;
}