:host {
<<<<<<< HEAD:ClientApp/src/app/shared/components/sidebar/sidebar-wrapper/sidebar-wrapper.component.css
    display: flex;
}

#sidebar {
=======
    display: grid;
    height: 100%;
}

nav {
>>>>>>> f1435254360c9f4ce0dd2b94b901c23bccb6771a:ClientApp/src/app/shared/components/nav/nav-wrapper/nav-wrapper.component.css
    background-color: var(--color-sidebar);
    display: flex;
    height: 100vh;
    transition: 0.7s;
}

.userInfo {
    color: var(--color-user-info);
    font-family: var(--font-family-user-info);
    text-align: center;
}

.companyLogo {
    cursor: pointer;
    font-family: var(--font-family-logo);
    margin: 0 auto 1.5rem;
    outline: 0;
    text-align: center;
}

.companyLogo :nth-child(1) {
    color: var(--color-company-logo-first-child) !important;
}

.companyLogo :nth-child(2) {
    color: var(--color-company-logo-second-child) !important;
}