<div id="dialog">

    <div id="dialog-header">
        <h1 mat-dialog-title [attr.style]="('color:' + titleColor + ' !important') | safeStyle">{{ onGetLabel('header') }}</h1>
    </div>

    <div id="dialog-content">
        {{ data.message }}
    </div>

    <div id="dialog-footer">
        <mat-dialog-actions *ngIf="data.actions.length == 1">
            <button mat-flat-button class="primary" id="ok" tabindex="-1" mat-dialog-close="true">{{ onGetLabel('okButton') }}</button>
        </mat-dialog-actions>
        <mat-dialog-actions *ngIf="data.actions.length == 2">
            <button data-cy="dialog-abort" mat-flat-button class="primary" id="abort" tabindex="-1" (click)="onClose()">{{ onGetLabel('noButton') }}</button>
            <button data-cy="dialog-ok" mat-flat-button class="delete" id="ok" tabindex="-1" mat-dialog-close="true">{{ onGetLabel('okButton') }}</button>
        </mat-dialog-actions>
    </div>

</div>