@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "buttons.css";
@import "checkbox.css";
@import "dialogs.css";
@import "expansion-panel.css";
@import "headers.css";
@import "inputs.css";
@import "labels.css";
@import "loader.css";
@import "scrollable.css";
@import "select.css";
@import "variables-narrow.css";
@import "variables-wide.css";
* {
    box-sizing: border-box !important;
}

html, body {
    background-color: #000000;
    display: flex;
    height: 100vh;
}

body, h1, h2, h3, p {
    margin: 0 !important;
    padding: 0 !important;
}

.hidden {
    display: none !important;
}

p.instructions {
    color: var(--color-paragraphs);
    font-family: var(--font-family-paragraphs);
    font-size: var(--font-size-paragraphs);
    overflow: hidden;
    width: 800px;
}

.mat-menu-content {
    background-color: var(--color-language-menu) !important;
}

.mat-icon, .item {
    color: var(--color-navigation-icon);
    outline: 0 !important;
}

.error {
    background-color: var(--color-snackbar-background-error) !important;
}

.info {
    background-color: var(--color-snackbar-background-info) !important;
}