@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "~leaflet/dist/leaflet.css";

@import "buttons.css";
@import "checkbox.css";
@import "datepicker.css";
@import "dialogs.css";
@import "headers.css";
@import "inputs.css";
@import "labels.css";
@import "loader.css";
@import "scrollable.css";
@import "select.css";
@import "slider.css";
@import "table-wrapper.css";
@import "tabs.css";
@import "variables-narrow.css";
@import "variables-wide.css";
@import "variables.css";

* {
    box-sizing: border-box !important;
}

html, body {
    background-color: #000000;
    display: flex;
    height: 100vh;
}

body, h1, h2, h3, p {
    margin: 0 !important;
    padding: 0 !important;
}

.hidden {
    display: none !important;
}

p.instructions {
    color: var(--color-text-primary);
    font-family: var(--font-family-paragraph);
    font-size: var(--font-size-paragraph);
    overflow: hidden;
    width: 800px;
}

.mat-icon, .item {
    outline: 0 !important;
}

.mat-menu-panel, .mat-menu-content {
    align-items: flex-start;
    background-color: var(--color-background-primary) !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: auto !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}

.mat-menu-item {
    color: var(--color-text-button) !important;
    display: flex !important;
    font-variant-caps: petite-caps !important;
    justify-content: flex-start !important;
    margin-left: 0 !important;
    padding: 0 1rem !important;
}

.mat-menu-item:hover {
    background-color: var(--color-button-secondary) !important;
}

.mat-snack-bar-container {
    min-width: 30rem !important;
}

.mat-checkbox-label {
    color: var(--color-text-primary) !important;
    margin-left: 0.5rem !important;
}

.error {
    background-color: var(--color-snackbar-error) !important;
}

.info {
    background-color: var(--color-snackbar-info) !important;
}

.mat-button-wrapper {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}

.mat-date-range-input-start-wrapper {
    width: 100% !important;
}

.green {
    color: var(--color-text-percent-positive) !important;
}

.red {
    color: var(--color-text-percent-negative) !important;
}

.blue {
    color: var(--color-text-percent-zero) !important;
}