button {
    align-items: center;
    cursor: default !important;
    display: flex;
    font-family: var(--font-family-button) !important;
    font-size: var(--font-size-button) !important;
    font-weight: var(--font-weight-button) !important;
    justify-content: center;
    margin-left: 1rem !important;
    min-width: 0 !important;
    outline: 0 !important;
    padding-top: 0.0625rem !important;
    transition: background-color 0.5s;
}

button.primary {
    background-color: var(--color-button-primary) !important;
    color: var(--color-text-button) !important;
    font-variant-caps: petite-caps;
}

button.secondary {
    color: var(--color-text-button) !important;
    background-color: var(--color-button-secondary) !important;
    font-variant-caps: petite-caps;
}

button.transparent {
    background-color: rgba(0, 0, 0, 0.001) !important;
    color: var(--color-text-primary) !important;
    font-variant-caps: petite-caps;
}

button.transparent.inverted {
    background-color: rgba(0, 0, 0, 0.001) !important;
    color: var(--color-text-button) !important;
    font-variant-caps: petite-caps;
}

button.transparent:hover {
    background-color: var(--color-button-secondary) !important;
    color: var(--color-text-button) !important;
    transition-duration: 500ms;
}

button.delete {
    background-color: var(--color-button-delete) !important;
    color: var(--color-text-button) !important;
    font-variant-caps: petite-caps;
}

button.tab {
    background-color: var(--color-background-secondary) !important;
    border-bottom: 4px solid var(--color-background-secondary);
}

button.tab:first-child {
    margin-right: 1rem;
}

button.tab:hover:not(:disabled) {
    border-bottom: 4px solid var(--color-button-secondary);
    transition: border-bottom 400ms;
}

button.tab.active {
    border-bottom: 4px solid var(--color-button-primary);
}

button.goBack {
    background-color: var(--color-button-primary) !important;
}

button.mat-mini-fab {
    background-color: var(--color-button-primary) !important;
    margin: 0 !important;
    outline: 0 !important;
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}

.mat-mini-fab .mat-button-wrapper {
    padding-top: 0.3125rem !important;
}

.mat-button-toggle-label-content {
    line-height: 2.5rem !important;
    padding-bottom: 0.1875rem !important;
}

.dropdown-arrow {
    margin-left: 0.5rem;
    width: 0.7rem;
}