h1 {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-header) !important;
    font-size: var(--font-size-header) !important;
    font-weight: var(--font-weight-header) !important;
}

h2 {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-header) !important;
    font-weight: var(--font-weight-header) !important;
}

h3 {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-header) !important;
    font-weight: var(--font-weight-header) !important;
}