input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input.center {
    text-align: center;
}

input::selection {
    background-color: var(--color-input-text-selected);
}

input[type=text], input[type=email] {
    caret-color: var(--color-input-text-caret);
    color: var(--color-input-not-focus);
    cursor: text !important;
    font-size: var(--font-size-input) !important;
}

input[type=text]:disabled {
    cursor: not-allowed !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

input[type=number] {
    text-align: right;
}

.mat-form-field {
    width: 100% !important;
}

.mat-form-field-infix {
    font-size: var(--font-size-input-height) !important;
}

.mat-form-field-type .mat-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 10px !important;
}

.mat-form-field-wrapper {
    margin-bottom: 0.625rem !important;
}

.mat-form-field-label {
    font-size: var(--font-size-label) !important;
}

.mat-hint {
    color: var(--color-input-not-focus) !important;
    margin-top: 3px !important;
}

.mat-icon {
    color: var(--color-input-not-focus);
}

#search-box .mat-form-field {
    flex: auto;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill:hover {
    font-size: var(--font-size-input) !important;
}


/* Not focused - Not error */

.mat-form-field .mat-form-field-label {
    color: var(--color-input-not-focus) !important;
}

.mat-form-field .mat-input-element {
    font-size: var(--font-size-input) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-not-focus) !important;
}

.mat-form-field-underline {
    background-color: var(--color-input-not-focus) !important;
}

.mat-form-field .mat-hint {
    color: var(--color-input-not-focus) !important;
}

.mat-error {
    font-size: var(--font-size-mat-error) !important;
}


/* Focused */

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--color-input-focus) !important;
}

.mat-form-field.mat-focused .mat-input-element {
    font-size: var(--font-size-input) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-focus) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--color-input-focus) !important;
}

.mat-form-field.mat-focused .mat-hint {
    color: var(--color-input-focus) !important;
}


/* Error */

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--color-input-text-error) !important;
    font-weight: bold !important;
}

.mat-form-field.mat-form-field-invalid .mat-input-element {
    color: var(--color-input-text-error) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-text-error) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: var(--color-input-text-error) !important;
}

.no-bottom-margin>.mat-form-field-wrapper {
    margin-bottom: 0 !important;
}

@media only screen and (min-width: 1367px) {
    .mat-form-field-infix {
        padding-top: 0 !important;
    }
}