#list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    align-items: center;
    display: flex;
}

#header #navigation {
    margin-left: 1rem;
}

#header #title {
    align-items: baseline;
    display: flex;
    margin-left: 1rem;
}

#header #search-box {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    width: 20rem;
}

#content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

#footer {
    grid-area: footer;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}


/* Wide */

@media only screen and (min-width: 1367px) {
    #header {
        margin: 0 2rem 2rem 2rem;
    }
    #content {
        margin: 0 2rem 0 2rem;
    }
    #footer {
        margin: 2rem 1rem 2rem 1rem;
    }
}


/* Narrow */

@media only screen and (max-width: 1366px) {
    #header {
        margin: 0 1.5rem 1.5rem 1.5rem;
    }
    #content {
        margin: 0 1.5rem 0 1.5rem;
    }
    #footer {
        margin: 1.5rem;
    }
}