#list {
    background-color: var(--color-a);
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#header {
    align-items: center;
    display: flex;
    margin: 2rem;
}

#header #navigation {
    margin-left: 1rem;
}

#header #navigation .mat-icon {
    color: var(--color-n) !important;
}

#header #title {
    align-items: baseline;
    display: flex;
    margin: 0 1rem 0 1rem;
}

#header #search-box {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    width: 15rem;
}

#content {
    flex: 1;
    margin: 0 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

#footer {
    margin: 2rem;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}