.scrollable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-button-secondary) var(--color-background-secondary);
    scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
    width: 0.4rem;
}

.scrollable::-webkit-scrollbar-track {
    background-color: var(--color-background-secondary);
    margin-top: 41px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--color-button-secondary);
    min-height: 6rem;
}