.mat-select-panel {
    background: var(--color-background) !important;
    border: 0.0625rem solid var(--color-primary) !important;
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: rgba(0, 0, 0, .09) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--color-text) !important;
}

.mat-select-panel::-webkit-scrollbar {
    width: 0.4rem;
}

.mat-select-panel::-webkit-scrollbar-track {
    background-color: var(--color-background);
    margin-top: 0.0625rem;
}

.mat-select-panel::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 0;
    min-height: 6.25rem;
}

.mat-option {
    height: 2em !important;
}

.mat-select-trigger {
    height: auto !important;
}

.mat-option-text {
    font-size: var(--font-size-input) !important;
}

.mat-form-field-type-mat-select {
    margin-bottom: 0 !important;
}

.mat-form-field-type .mat-select .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0.625rem !important;
}

.mat-form-field .mat-select-value {
    font-size: var(--font-size-input) !important;
    padding-top: 0 !important;
}

.mat-form-field.mat-focused .mat-select-value-text {
    color: var(--color-focus) !important;
}

.mat-form-field .mat-select-arrow {
    color: var(--color-primary) !important;
}

.mat-form-field.mat-focused .mat-select-arrow {
    color: var(--color-focus) !important;
}