.mat-select-panel {
    background-color: var(--color-select-background-color) !important;
    border: 0.0625rem solid var(--color-select-border) !important;
}

.mat-select-panel::-webkit-scrollbar {
    width: 0.4rem;
}

.mat-select-panel::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-background);
    margin-top: 0.0625rem;
}

.mat-select-panel::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 0;
    min-height: 6.25rem;
}

.mat-option {
    color: var(--color-select-option-color) !important;
    height: 2em !important;
}

.mat-select-trigger {
    height: auto !important;
}

.mat-option-text {
    font-size: var(--font-size-input) !important;
}

.mat-form-field-type-mat-select {
    margin-bottom: 0 !important;
}

.mat-form-field-type .mat-select .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0.625rem !important;
}

.mat-form-field .mat-select-value {
    font-size: var(--font-size-input) !important;
    padding-top: 0 !important;
}

.mat-form-field .mat-select-value-text {
    color: var(--color-input-not-focus) !important;
}

.mat-form-field.mat-focused .mat-select-value-text {
    color: var(--color-input-focus) !important;
}

.mat-form-field .mat-select-arrow {
    color: var(--color-input-not-focus) !important;
}

.mat-form-field.mat-focused .mat-select-arrow {
    color: var(--color-input-focus) !important;
}