.mat-slide-toggle {
    margin-bottom: 1rem;
}

.mat-slide-toggle-content {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-checkbox) !important;
    font-size: var(--font-size-checkbox) !important;
    font-variant-caps: petite-caps !important;
    font-weight: var(--font-weight-checkbox) !important;
}


/* Slider ON */

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--color-slider-bar-active) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--color-button-primary) !important;
}


/* Slider OFF */

.mat-slide-toggle-bar {
    background-color: var(--color-slider-bar-inactive) !important;
}

.mat-slide-toggle-thumb {
    background-color: var(--color-button-secondary) !important;
}