.mat-tab-label {
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    font-family: var(--font-family-header);
    font-size: var(--font-size-tab-label);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-header);
}

.mat-ink-bar {
    background-color: var(--color-text-secondary) !important;
    height: 3px !important;
}

.mat-tab-body-content {
    padding: 0;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    background-color: var(--color-background-secondary) !important;
}

@media (max-height:768px) {
    .mat-tab-label {
        /* height: 2.375rem !important; */
    }
}