.mat-tab-label {
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    font-family: var(--font-family-header);
    font-size: var(--font-size-tab-label);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-header);
}

.mat-ink-bar {
    background-color: var(--color-text-secondary) !important;
    height: 3px !important;
}

.mat-tab-body-content {
    padding: 0;
}