@media only screen and (max-width: 1366px) {
    * {
        /* Font sizes */
        --font-size-button: 1rem;
        --font-size-checkbox: 0.9rem;
        --font-size-copyright: 0.5rem;
        --font-size-dialog-content: 1.3rem;
        --font-size-dialog-header: 2.4rem;
        --font-size-header: 2rem;
        --font-size-input-height: 1rem;
        --font-size-input-hint: 0.7rem;
        --font-size-input: 0.9rem;
        --font-size-label: 19px;
        --font-size-logo-first-child: 4.375rem;
        --font-size-logo-second-child: 2.5rem;
        --font-size-mat-error: 0.7rem;
        --font-size-menu-list-item: 1.8rem;
        --font-size-paragraph: 0.7rem;
        --font-size-snackbar: 1.2rem;
        --font-size-sum: 1.5rem;
        --font-size-summary-block-header: 1.1rem;
        --font-size-summary-block-item: 0.85rem;
        --font-size-table-header: 1rem;
        --font-size-table-row: 0.9rem;
        --font-size-user-greeting: 0.9rem;
    }
}