@media only screen and (max-width: 1366px) {
    * {
        --font-weight-buttons: 100 !important;
        --font-weight-headers: 100 !important;
        --font-weight-table-headers: 100 !important;
        --font-weight-labels: 500 !important;

        /* Headers */
        --font-size-headers: 1.6rem;

        /* input boxes */
        --font-size-height: 1rem;
        --font-size-labels: 1rem;
        --font-size-input: 0.9rem;
        --input-bottom-margin: 0.4375rem;
        --font-size-mat-error: 0.7rem;

        /* Checkboxes */
        --font-size-checkbox: 0.9rem;

        /* Dialogs */
        --font-size-mat-dialog-title: 2rem;
        --font-size-mat-dialog-content: 1.1rem;

        /* Snackbar */
        --font-size-snackbar: 0.95rem;

        /* Transfer summary boxes */
        --font-family-summary-block: "Noto Sans";
        --font-size-summary-block-header: 1.1rem;
        --font-size-summary-block-item: 0.85rem;
        --line-height-summary-block-item: 1.5rem;

        /* Sidebar - Menu */
        --font-size-copyright: 0.6rem;
        --font-size-logo-first-child: 4.375rem;
        --font-size-logo-second-child: 2.5rem;
        --font-size-menu-list-item-active: 1.3rem;
        --font-size-menu-list-items: 1.3rem;
        --font-size-user-info: 0.9rem;

        /* Tables */
        --font-size-table-header: 1rem;
        --font-size-table-rows: 0.75rem;

        /* Instructions */
        --font-size-paragraphs: 0.7rem;

        /* Transfers totals */
        --font-size-sum: 1rem;

        /* Buttons */
        --font-family-buttons: "Noto Sans";
        --font-size-buttons: 0.8rem;

        /* All headers */
        --font-family-headers: "Noto Sans";

        /* Dialogs */
        --font-family-dialog-header: "Noto Sans";
        --font-family-dialog-content: "Noto Sans";

        /* Snackbars */
        --font-family-snackbar: "Noto Sans";

        /* Tables */
        --font-family-table: 'Noto Sans';

        /* Sidebar  */
        --font-family-user-info: "Noto Sans";
        --font-family-logo: "Anton";
        --font-family-menu-list-items: "Noto Sans";
        --font-family-copyright: "Noto Sans";

        /* Instructions */
        --font-family-paragraphs: "Noto Sans";

        /* Checkboxes */
        --font-family-checkbox: "Noto Sans";
    }
}