<div id="wrapper">

    <div id="panelButtons">
        <button data-cy="summaryTab" mat-flat-button class="tab" id="summaryTab" [disabled]="activePanel=='summary'" (click)="onFocusSummaryPanel()">{{ onGetLabel('summaryTab') }}</button>
        <button data-cy="listTab" mat-flat-button class="tab" id="listTab" [disabled]="activePanel=='list'" (click)="onFocusListPanel()">{{ onGetLabel('listTab') }}</button>
        <div [class.hidden]="activePanel=='list'" class="selection">
            <div class="label">{{ totals[0].description }}</div>
            <div class="sum">{{ totals[0].sum }}</div>
        </div>
        <div [class.hidden]="activePanel=='summary'" id="totals">
            <div *ngFor="let item of totals">
                <div class="selection">
                    <div class="label">{{ item.description }}</div>
                    <div data-cy="totalsSum" class="sum">{{ item.sum }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="summary" [class.hidden]="activePanel=='list'" class="scrollable">
        <div data-cy="summaryBlock" class="summaryBlock">
            <div class="summaryHeader">
                <mat-checkbox data-cy="destinationsCheckbox" class="checkbox destination" [(ngModel)]="checkedDestinations" [(indeterminate)]="indeterminateDestinations" (click)="onToggleParentCheckbox('destination', this.selectedDestinations, this.checkedDestinations)"></mat-checkbox>
                <header>{{ onGetLabel('summaryHeaderDestinations') }}</header>
            </div>
            <div class="summaryContent scrollable">
                <div *ngFor="let item of queryResult.personsPerDestination" (click)="onToggleItem(item, this.selectedDestinations, 'checkedDestinations', 'indeterminateDestinations', 'destination')" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </div>
        </div>
        <div data-cy="summaryBlock" class="summaryBlock">
            <div class="summaryHeader">
                <mat-checkbox data-cy="customersCheckbox" class="checkbox customer" [(ngModel)]="checkedCustomers" [(indeterminate)]="indeterminateCustomers" (click)="onToggleParentCheckbox('customer', this.selectedCustomers, this.checkedCustomers)"></mat-checkbox>
                <header>{{ onGetLabel('summaryHeaderCustomers') }}</header>
            </div>
            <div class="summaryContent scrollable">
                <div *ngFor="let item of queryResult.personsPerCustomer" (click)="onToggleItem(item, this.selectedCustomers, 'checkedCustomers', 'indeterminateCustomers', 'customer')" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </div>
        </div>
        <div data-cy="summaryBlock" class="summaryBlock">
            <div class="summaryHeader">
                <mat-checkbox data-cy="routesCheckbox" class="checkbox route" [(ngModel)]="checkedRoutes" [(indeterminate)]="indeterminateRoutes" (click)="onToggleParentCheckbox('route', this.selectedRoutes, this.checkedRoutes)"></mat-checkbox>
                <header>{{ onGetLabel('summaryHeaderRoutes') }}</header>
            </div>
            <div class="summaryContent scrollable">
                <div *ngFor="let item of queryResult.personsPerRoute" (click)="onToggleItem(item, this.selectedRoutes, 'checkedRoutes', 'indeterminateRoutes', 'route')" class="item route" [class.activeItem]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </div>
        </div>
        <div data-cy="summaryBlock" class="summaryBlock">
            <div class="summaryHeader">
                <mat-checkbox data-cy="driversCheckbox" class="checkbox driver" [(ngModel)]="checkedDrivers" [(indeterminate)]="indeterminateDrivers" (click)="onToggleParentCheckbox('driver', this.selectedDrivers, this.checkedDrivers)"></mat-checkbox>
                <header>{{ onGetLabel('summaryHeaderDrivers') }}</header>
            </div>
            <div class="summaryContent scrollable">
                <div *ngFor="let item of queryResult.personsPerDriver" (click)="onToggleItem(item, this.selectedDrivers, 'checkedDrivers', 'indeterminateDrivers', 'driver')" class="item driver" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </div>
        </div>
        <div data-cy="summaryBlock" class="summaryBlock">
            <div class="summaryHeader">
                <mat-checkbox data-cy="portsCheckbox" class="checkbox port" [(ngModel)]="checkedPorts" [(indeterminate)]="indeterminatePorts" (click)="onToggleParentCheckbox('port', this.selectedPorts, this.checkedPorts)"></mat-checkbox>
                <header>{{ onGetLabel('summaryHeaderPorts') }}</header>
            </div>
            <div class="summaryContent scrollable">
                <div data-cy="port" *ngFor="let item of queryResult.personsPerPort" (click)="onToggleItem(item, this.selectedPorts, 'checkedPorts', 'indeterminatePorts', 'port')" class="item port" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </div>
        </div>
    </div>

    <div id="listFormCombo" [class.hidden]="activePanel=='summary'">
        <div id="transferList">
            <div class="scrollable" id="table">
                <custom-table [records]="transfersFlat" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></custom-table>
            </div>
        </div>
        <div id="transferFormModal">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="assignDriver" mat-flat-button class="secondary" id="assignDriver" [class.hidden]="queryResult.persons == 0 || this.activePanel=='summary'" (click)="onAssignDriver()">{{ onGetLabel('assignDriverButton') }}</button>
            <button data-cy="createPdf" mat-flat-button class="secondary" id="createPdf" [class.hidden]="queryResult.persons == 0 || this.activePanel=='summary'" (click)="onCreatePdf()">{{ onGetLabel('createPdfButton') }}</button>
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="onNew()">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>