<div id="wrapper">

    <div id="panelButtons">
        <button mat-flat-button class="tab" id="summaryTab" [disabled]="activePanel=='summary'" (click)="onFocusSummaryPanel()">Summary</button>
        <button mat-flat-button class="tab" id="listTab" [disabled]="activePanel=='list'" (click)="onFocusListPanel()">List</button>
        <div class="selection">
            <div class="label">{{ totals[0].description }}</div>
            <div class="sum">{{ totals[0].sum }}</div>
        </div>
    </div>

    <div id="summary" [class.hidden]="activePanel=='list'" class="scrollable">
        <mat-expansion-panel data-cy="summaryBlock" class="summaryBlock scrollable" expanded=true hideToggle>
            <mat-expansion-panel-header class="summaryHeader">
                <mat-checkbox data-cy="destinationsCheckbox" class="checkbox destination" [(ngModel)]="checkedDestinations" [(indeterminate)]="indeterminateDestinations" (click)="onToggleItems('destination', this.selectedDestinations, this.checkedDestinations)"></mat-checkbox>
                <header>Destinations</header>
            </mat-expansion-panel-header>
            <div *ngFor="let item of queryResult.personsPerDestination" (click)="onToggleItem(item, this.selectedDestinations, 'checkedDestinations', 'indeterminateDestinations', 'destination')" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel data-cy="summaryBlock" class="summaryBlock scrollable" expanded=true hideToggle>
            <mat-expansion-panel-header class="summaryHeader">
                <mat-checkbox data-cy="customersCheckbox" class="checkbox customer" [(ngModel)]="checkedCustomers" [(indeterminate)]="indeterminateCustomers" (click)="onToggleItems('customer', this.selectedCustomers, this.checkedCustomers)"></mat-checkbox>
                <header>Customers</header>
            </mat-expansion-panel-header>
            <div *ngFor="let item of queryResult.personsPerCustomer" (click)="onToggleItem(item, this.selectedCustomers, 'checkedCustomers', 'indeterminateCustomers', 'customer')" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel data-cy="summaryBlock" class="summaryBlock scrollable" expanded=true hideToggle>
            <mat-expansion-panel-header class="summaryHeader">
                <mat-checkbox data-cy="routesCheckbox" class="checkbox route" [(ngModel)]="checkedRoutes" [(indeterminate)]="indeterminateRoutes" (click)="onToggleItems('route', this.selectedRoutes, this.checkedRoutes)"></mat-checkbox>
                <header>Routes</header>
            </mat-expansion-panel-header>
            <div *ngFor="let item of queryResult.personsPerRoute" (click)="onToggleItem(item, this.selectedRoutes, 'checkedRoutes', 'indeterminateRoutes', 'route')" class="item route" [class.activeItem]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel data-cy="summaryBlock" class="summaryBlock scrollable" expanded=true hideToggle>
            <mat-expansion-panel-header class="summaryHeader">
                <mat-checkbox data-cy="driversCheckbox" class="checkbox driver" [(ngModel)]="checkedDrivers" [(indeterminate)]="indeterminateDrivers" (click)="onToggleItems('driver', this.selectedDrivers, this.checkedDrivers)"></mat-checkbox>
                <header>Drivers</header>
            </mat-expansion-panel-header>
            <div *ngFor="let item of queryResult.personsPerDriver" (click)="onToggleItem(item, this.selectedDrivers, 'checkedDrivers', 'indeterminateDrivers', 'driver')" class="item driver" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel data-cy="summaryBlock" class="summaryBlock scrollable" expanded=true hideToggle>
            <mat-expansion-panel-header class="summaryHeader">
                <mat-checkbox data-cy="portsCheckbox" class="checkbox port" [(ngModel)]="checkedPorts" [(indeterminate)]="indeterminatePorts" (click)="onToggleItems('port', this.selectedPorts, this.checkedPorts)"></mat-checkbox>
                <header>Ports</header>
            </mat-expansion-panel-header>
            <div data-cy="port" *ngFor="let item of queryResult.personsPerPort" (click)="onToggleItem(item, this.selectedPorts, 'checkedPorts', 'indeterminatePorts', 'port')" class="item port" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </mat-expansion-panel>
        <div id="transferFormModal">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div id="listFormCombo" [class.hidden]="activePanel=='summary'">
        <div id="transferList">
            <div class="scrollable" id="table">
                <custom-table [records]="transfersFlat" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></custom-table>
            </div>
            <div id="totals">
                <div *ngFor="let item of totals">
                    <div class="selection">
                        <div class="label"> {{ item.description }} </div>
                        <div data-cy="sum" class="sum">{{ item.sum }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div @slideFromRight id="footer">
        <div id="buttons">
            <button data-cy="assignDriver" mat-flat-button class="secondary" id="assignDriver" [class.hidden]="queryResult.persons == 0 || this.activePanel=='summary'" (click)="onAssignDriver()">Assign driver</button>
            <button data-cy="createPdf" mat-flat-button class="secondary" id="createPdf" [class.hidden]="queryResult.persons == 0 || this.activePanel=='summary'" (click)="onCreatePdf()">Create PDFs</button>
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="onNew()">New</button>
        </div>
    </div>

</div>