<div id="content">
    <form data-cy="form" [formGroup]="form" autocomplete="off">
        <mat-form-field>
            <input data-cy="destination" type="text" matInput placeholder="Destination" formControlName="destinationDescription" data-tabindex="1" id="destinationDescription" [inputTabStop]="input" (change)="onLookupIndex(destinations, 'Destinations', ['destinationId', 'destinationDescription'], ['destinationId', 'destinationDescription'], ['Id', 'Description'], ['1px', '440px'], ['none', ''], ['center', 'left'], $event)">
            <mat-error *ngIf="destinationDescription.hasError('required')">This is a required field!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input data-cy="customer" type="text" matInput placeholder="Customer" formControlName="customerDescription" data-tabindex="2" id="customerDescription" [inputTabStop]="input" (change)="onLookupIndex(customers, 'Customers', ['customerId', 'customerDescription'], ['customerId', 'customerDescription'], ['Id', 'Description'], ['1px', '440px'], ['none', ''], ['center', 'left'], $event)">
            <mat-error *ngIf="customerDescription.hasError('required')">This is a required field!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input data-cy="pickupPoint" type="text" matInput placeholder="Pickup point" formControlName="pickupPointDescription" data-tabindex="3" id="pickupPointDescription" [inputTabStop]="input" (change)="onLookupIndex(pickupPointsFlat, 'Pickup points', ['pickuPointId', 'pickupPointDescription'], ['pickuPointId', 'pickupPointDescription', 'exactPoint', 'time'], ['Id', 'Description', 'Exact point', 'Time'], ['1px', '440px', '440px', '100px'], ['none', '', '', ''], ['center', 'left', 'left', 'center'], $event)">
            <mat-error *ngIf="pickupPointDescription.hasError('required')">This is a required field!</mat-error>
        </mat-form-field>
        <div id="group-field">
            <mat-form-field>
                <input data-cy="adults" type="number" matInput placeholder="Adults" formControlName="adults" data-tabindex="4" id="adults" [inputTabStop]="input" class="number" (change)="onCalculateTotalPersons()">
                <mat-error *ngIf="adults.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="!adults.hasError('required') && adults.errors?.min || adults.errors?.max">This field is invalid!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="kids" type="number" matInput placeholder="Kids" formControlName="kids" data-tabindex="5" id="kids" [inputTabStop]="input" class="number" (change)="onCalculateTotalPersons()">
                <mat-error *ngIf="kids.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="!kids.hasError('required') && kids.errors?.min || kids.errors?.max">This field is invalid!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="free" type="number" matInput placeholder="Free" formControlName="free" data-tabindex="6" id="free" [inputTabStop]="input" class="number" (change)="onCalculateTotalPersons()">
                <mat-error *ngIf="free.hasError('required')">This is a required field!</mat-error>
                <mat-error *ngIf="!free.hasError('required') && free.errors?.min || free.errors?.max">This field is invalid!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input data-cy="totalPersons" type="number" matInput placeholder="Total persons" id="totalPersons" formControlName="totalPersons">
            </mat-form-field>
        </div>
        <div id="group-field">
            <mat-form-field>
                <input type="text" matInput placeholder="Driver" formControlName="driverDescription" id="driverDescription">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Port" formControlName="portDescription" id="portDescription">
            </mat-form-field>
        </div>
        <mat-form-field>
            <input data-cy="remarks" type="text" matInput placeholder="Remarks" formControlName="remarks" data-tabindex="7" id="remarks" [inputTabStop]="input">
            <mat-error *ngIf="remarks.errors?.maxlength">This field can be up to {{ remarks.errors.maxlength.requiredLength }} characters long</mat-error>
        </mat-form-field>
    </form>
    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    <div id="footer">
        <div id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" (click)="onDelete()">Delete</button>
            <button data-cy="cancel-edit" mat-flat-button class="secondary" id="delete" (click)="onGoBack()">Cancel</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">Save</button>
        </div>
    </div>
</div>