#header #search-box {
    margin-right: 1rem;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 14rem !important;
}

#results {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0 2rem 2rem 2rem;
    overflow: hidden;
}


/* Wide */

@media only screen and (min-width: 1367px) {
    #main {
        margin: 0 2rem;
    }
}


/* Narrow */

@media only screen and (max-width: 1366px) {
    #main {
        margin: 0 1.5rem;
    }
}