<div id="wrapper">

    <div id="person-totals">

        <div>
            <h2>Total</h2>
            <h1>{{ queryResult.persons }}</h1>
            <h3>{{ queryResult.percent }}%</h3>
        </div>

        <div>
            <h2>Adults</h2>
            <h1>{{ queryResult.adults }}</h1>
            <h3>{{ queryResult.adultsPercent }}%</h3>
        </div>

        <div>
            <h2>Kids</h2>
            <h1>{{ queryResult.kids }}</h1>
            <h3>{{ queryResult.kidsPercent }}%</h3>
        </div>

        <div>
            <h2>Free</h2>
            <h1>{{ queryResult.free }}</h1>
            <h3>{{ queryResult.freePercent }}%</h3>
        </div>

    </div>

    <div id="second">

        <div class="box" (click)="onShowDetails('Customers', queryResult.personsPerCustomer)">
            <img src="/assets/images/navigation/customers.svg">
            <h1>Customers</h1>
        </div>
        <div class="box" (click)="onShowDetails('Destinations', queryResult.personsPerDestination)">
            <img src="/assets/images/navigation/destinations.svg">
            <h1>Destinations</h1>
        </div>
        <div class="box" (click)="onShowDetails('Drivers', queryResult.personsPerDriver)">
            <img src="/assets/images/navigation/drivers.svg">
            <h1>Drivers</h1>
        </div>
        <div class="box" (click)="onShowDetails('Ports', queryResult.personsPerPort)">
            <img src="/assets/images/navigation/ports.svg">
            <h1>Ports</h1>
        </div>
        <div class="box" (click)="onShowDetails('Routes', queryResult.personsPerRoute)">
            <img src="/assets/images/navigation/routes.svg">
            <h1>Routes</h1>
        </div>
    </div>

</div>