:host {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: max-content auto;
    height: 100vh;
}

#header {
    align-items: center;
    display: flex;
    grid-area: "header";
    margin: 2rem;
}

#header #navigation {
    margin-left: 1rem;
}

#header #title {
    margin-left: 1rem;
}

#header #search-box {
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    max-width: fit-content;
    width: auto;
}

#header #search-box .mat-form-field {
    width: 15rem !important;
}

#main {
    grid-area: main;
    grid-auto-rows: 100%;
    margin: 0 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
}

#footer {
    grid-area: footer;
}