<div id="wrapper">

    <div id="person-totals">

        <div @slideFromLeft>
            <h2>{{ onGetLabel('total')}}</h2>
            <h1>{{ queryResult.persons }}</h1>
            <h3>{{ queryResult.percent }}%</h3>
        </div>

        <div @slideFromLeft>
            <h2>{{ onGetLabel('adults')}}</h2>
            <h1>{{ queryResult.adults }}</h1>
            <h3>{{ queryResult.adultsPercent }}%</h3>
        </div>

        <div @slideFromLeft>
            <h2>{{ onGetLabel('kids')}}</h2>
            <h1>{{ queryResult.kids }}</h1>
            <h3>{{ queryResult.kidsPercent }}%</h3>
        </div>

        <div @slideFromLeft>
            <h2>{{ onGetLabel('free')}}</h2>
            <h1>{{ queryResult.free }}</h1>
            <h3>{{ queryResult.freePercent }}%</h3>
        </div>

    </div>

    <div id="group-totals">

        <div (click)="onShowDetails(onGetLabel('customers'), queryResult.personsPerCustomer)">
            <img src="/assets/images/navigation/customers.svg">
            <h1>{{ onGetLabel('customers') }}</h1>
        </div>
        <div (click)="onShowDetails(onGetLabel('destinations'), queryResult.personsPerDestination)">
            <img src="/assets/images/navigation/destinations.svg">
            <h1>{{ onGetLabel('destinations') }}</h1>
        </div>
        <div (click)="onShowDetails(onGetLabel('drivers'), queryResult.personsPerDriver)">
            <img src="/assets/images/navigation/drivers.svg">
            <h1>{{ onGetLabel('drivers') }}</h1>
        </div>
        <div (click)="onShowDetails(onGetLabel('ports'), queryResult.personsPerPort)">
            <img src="/assets/images/navigation/ports.svg">
            <h1>{{ onGetLabel('ports') }}</h1>
        </div>
        <div (click)="onShowDetails(onGetLabel('routes'), queryResult.personsPerRoute)">
            <img src="/assets/images/navigation/routes.svg">
            <h1>{{ onGetLabel('routes') }}</h1>
        </div>
    </div>

</div>