:host {
    display: flex;
    width: 100%;
}

#content {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#panelButtons {
    display: flex;
    margin-bottom: 1rem;
}

#summary {
    align-content: flex-start;
    background-color: var(--color-background);
    column-gap: 0.5rem;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap: 0.5rem;
}

#listFormCombo {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    grid-area: listFormCombo;
    height: 100%;
    justify-content: flex-start;
    overflow: hidden;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
}

#transferList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#transferFormModal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100vw;
    z-index: 1;
}

.summaryBlock {
    background-color: var(--color-summary-block-background) !important;
    border: 0.0625rem dotted var(--color-summary-block-border) !important;
    box-shadow: none;
    flex: 1;
    height: auto;
    margin-right: 0.125rem;
    margin-top: 0.0625rem;
    padding: 0;
}

.summaryHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 1.6rem 0 0.4rem;
}

.summaryBlock header {
    color: var(--color-summary-block-headers);
    font-family: var(--font-family-summary-block);
    font-size: var(--font-size-summary-block-header);
}

.summaryBlock .item {
    border-left: 0.3rem solid var(--color-summary-block-item-border-inactive);
    color: var(--color-summary-block-item);
    display: flex;
    font-family: var(--font-family-summary-block);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.8rem;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.summaryBlock .item:hover {
    background-color: var(--color-summary-block-item-hover-background);
    color: var(--color-summary-block-item-hover-color);
    cursor: pointer;
}

.summaryBlock .item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 13rem;
}

.summaryBlock .item .total {
    align-items: flex-end;
    display: flex;
    font-family: var(--font-family-summary-block);
    font-size: var(--font-size-summary-block-item);
    padding-left: 1rem;
}

.activeItem {
    border-left-color: var(--color-summary-block-item-border-active) !important;
}

#totals {
    display: flex;
    font-family: var(--font-family-totals);
    font-weight: var(--font-weight-totals);
    justify-content: flex-end;
    margin-top: 2rem;
    text-align: right;
}

.selection {
    align-items: baseline;
    display: flex;
    font-family: var(--font-family-totals);
    font-size: var(--font-size-table-row);
    margin-left: 1rem;
    text-align: right;
}

.selection .label {
    color: var(--color-sum-persons-labels);
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-sum-persons);
    margin: 0 0.5rem 0 0;
}

.selection .sum {
    color: var(--color-sum-persons-numbers);
    font-size: var(--font-size-sum);
    font-weight: var(--font-weight-sum-persons);
}


/* Wide */

@media only screen and (min-width: 1367px) {
    #footer {
        margin-top: 2rem;
    }
}


/* Narrow */

@media only screen and (max-width: 1366px) {
    #footer {
        margin-top: 1.5rem;
    }
}