#form {
    background-color: var(--color-transfer-form-modal);
    border-radius: 20px;
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    padding: 2rem;
    width: 500px;
    z-index: 1;
}

#header {
    display: flex;
    margin-bottom: 2rem;
}

#header #title {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#header #navigation button {
    background-color: var(--color-navigation-button-form-modal) !important;
}

#group-field {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

#group-field .mat-form-field:not(:last-child) {
    margin-right: 1rem;
}

#footer {
    margin: 0;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}