:host {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: max-content auto;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

#header #title {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

#header #search-box {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0 0;
    max-width: fit-content;
    width: auto;
}

#dateIn {
    width: 10rem !important;
}

#search {
    width: -webkit-fill-available;
}

#main {
    grid-area: main;
    grid-auto-rows: 100%;
    margin: 0 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
}

#footer {
    grid-area: footer;
}