#form {
    align-content: flex-start;
    border-top: 0.0625rem solid var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#form form {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
}

#group-field {
    display: flex;
}

#group-field .mat-form-field:not(:last-child) {
    margin-right: 1rem;
}

#footer {
    margin: 0;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}