<div id="list">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header')}}</h1>
        </div>
        <div id="search-box">
            <mat-form-field class="no-bottom-margin">
                <input data-cy="dateIn" type="text" matInput class="center" [placeholder]="getLabel('searchLabel')" [(ngModel)]="dateIn" [inputFormat]="'date'" id="dateIn" autocomplete="off">
                <mat-hint>{{ getLabel('searchHint') }}</mat-hint>
            </mat-form-field>
            <button data-cy="search" mat-flat-button id="search" class="primary" [disabled]="!onCheckValidDate()" (click)="onLoadTransfers()">{{ getLabel('searchButton') }}</button>
        </div>
    </div>

    <div id="content">
        <router-outlet></router-outlet>
    </div>

</div>