button {
    align-items: center;
    color: var(--color-button-text-all) !important;
    cursor: default !important;
    display: flex;
    font-family: var(--font-family-buttons) !important;
    font-weight: var(--font-weight-buttons) !important;
    justify-content: center;
    margin: 0 0 0 0.5rem !important;
    min-width: 0 !important;
    outline: 0 !important;
    padding-top: 1px !important;
}

button.primary {
    background-color: var(--color-button-primary) !important;
}

button.secondary {
    background-color: var(--color-button-secondary) !important;
    color: var(--color-button-text-secondary) !important;
}

button.delete {
    background-color: var(--color-button-delete) !important;
}

button.navigation {
    background-color: var(--color-navigation-button) !important;
    margin: 0 !important;
    outline: 0 !important;
}

button.transparent {
    background-color: var(--color-button-background-transparent) !important;
    color: var(--color-button-text-transparent) !important;
}

button::first-letter {
    text-decoration: underline;
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}

.mat-mini-fab .mat-button-wrapper {
    padding: 6px 0 !important;
}

#goBack {
    color: var(--color-navigation-arrow) !important;
}