* {
    /* Sidebar */
    --color-sidebar: #1D2733;
    --color-company-logo-first-child: #FE9F36;
    --color-company-logo-second-child: #FFE85C;
    --color-menu-list-items: #9F9F9F;
    --color-menu-active-item: #FE9F36;
    --color-user-info: #FFE85C;
    --color-copyright: #FE9F36;
    /* Main background */
    --color-background: #373F46;
    /* Loader */
    --color-loader-background: #373F46;
    --color-loader-progress: #ffa500;
    --color-loader-progress-background: #1D2733;
    /* Buttons */
    --color-button-primary: #57617B;
    --color-button-delete: #D67474;
    --color-button-secondary: #5A75BC;
    --color-button-text-all: #FFFDDD;
    --color-button-text-secondary: #FFFDDD;
    --color-button-background-transparent: #434A50;
    --color-button-text-transparent: #939393;
    /* Narrow navigation buttons */
    --color-toggle-background: #373F46;
    /* Input boxes */
    --color-input-text-caret: #ffffff;
    --color-input-text-selected: #5F5E5E;
    --color-input-focus: #fe9f36;
    --color-input-not-focus: #939393;
    --color-input-text-error: #EF1717;
    /* Navigation icon */
    --color-navigation-button: #373F46;
    --color-navigation-arrow: #F2CFBB;
    /* Scrollbars */
    --color-scrollbar: #fe9f36;
    --color-scrollbar-background: #373F46;
    /* Tables */
    --color-table-background: #373f46;
    --color-table-header: #b3b2b2;
    --color-table-header-border: #57617b;
    --color-table-row: #b3b2b2;
    --color-table-row-even: #3c434b;
    --color-table-row-odd: #363d44;
    --color-table-row-selected: #394d59;
    --color-table-rows-hover: #FFE85C;
    /* All headers */
    --color-headers: #ffc788;
    /* Dialogs */
    --color-dialog-background: #373f46;
    --color-dialog-content: #939393;
    /* Snackbars */
    --color-snackbar-text: #FFFDDD;
    --color-snackbar-background-danger: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    /* Instructions on forms */
    --color-paragraphs: #ffc788;
    /* Transfer summary boxes */
    --color-summary-block-background: #373f46;
    --color-summary-block-border: #57617b;
    --color-summary-block-expansion-indicator: #939393;
    --color-summary-block-item-border-active: #fe9f36;
    --color-summary-block-item-border-inactive: #939393;
    --color-summary-block-item-hover-background: #373f46;
    --color-summary-block-item-hover-color: #ffffff;
    --color-summary-block-item: #b3b2b2;
    /* Checkboxes */
    --color-checkbox-checked: #fe9f36;
    /* Spinner */
    --color-spinner: #d67474;
    --color-spinner-background: #ffe85c;
    /* Select */
    --color-select-background-color: #373F46;
    --color-select-border: #fe9f36;
    --color-select-option-color: #b3b2b2;
    /* Transfers totals */
    --color-label: #b3b2b2;
    --color-sum: #fe9f36;
    /* Route description at pickup point list */
    --color-route-description: #d47e5e;
    /* Checkboxes*/
    --color-bar-checked: #FFE85C;
    --color-thumb-checked: #fe9f36;
}