* {
    /* Sidebar */
    --color-sidebar: #A6826D;
    --color-company-logo-first-child: #734230;
    --color-company-logo-second-child: #e1a07b;
    --color-menu-list-items: #F2CFBB;
    --color-menu-active-item: #734230;
    --color-user-info: #F2CFBB;
    --color-copyright: #F2CFBB;
    /* Main background */
    --color-background: #F2CFBB;
    /* Loader */
    --color-loader-background: #F2CFBB;
    --color-loader-progress: #ffa500;
    --color-loader-progress-background: #734230;
    /* Buttons */
    --color-button-primary: #A6826D;
    --color-button-delete: #F78787;
    --color-button-secondary: #FFBB9C;
    --color-button-text-all: #FFEBE2;
    --color-button-text-secondary: #734230;
    --color-button-background-transparent: #F9D6C2;
    --color-button-text-transparent: #734230;
    /* Input boxes */
    --color-input-text-caret: #ffffff;
    --color-input-text-selected: #FFC29E;
    --color-input-focus: #0D0D0D;
    --color-input-not-focus: #734230;
    --color-input-text-error: #EF1717;
    /* Navigation icon */
    --color-navigation-button: #A6826D;
    --color-navigation-arrow: #F2CFBB;
    /* Scrollbars */
    --color-scrollbar: #734230;
    --color-scrollbar-background: #F2CFBB;
    /* Tables */
    --color-table-background: #F2CFBB;
    --color-table-header: #474747;
    --color-table-header-border: #A6826D;
    --color-table-row: #474747;
    --color-table-row-even: #FFE0D2;
    --color-table-row-odd: #F2CFBB;
    --color-table-row-selected: #FFBB9C;
    --color-table-rows-hover: #000000;
    /* All headers */
    --color-headers: #734230;
    /* Dialogs */
    --color-dialog-background: #F2CFBB;
    --color-dialog-content: #734230;
    /* Snackbars */
    --color-snackbar-text: #FFEBE2;
    --color-snackbar-background-danger: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    /* Instructions on forms */
    --color-paragraphs: #734230;
    /* Transfer summary boxes */
    --color-summary-block-background: #F2CFBB;
    --color-summary-block-border: #A6826D;
    --color-summary-block-expansion-indicator: #939393;
    --color-summary-block-item-border-active: #734230;
    --color-summary-block-item-border-inactive: #939393;
    --color-summary-block-item-hover-background: #F2CFBB;
    --color-summary-block-item-hover-color: #FFFFFF;
    --color-summary-block-item: #474747;
    /* Checkboxes */
    --color-checkbox-checked: #734230;
    /* Spinner */
    --color-spinner: #d67474;
    --color-spinner-background: #ffe85c;
    /* Select */
    --color-select-background-color: #A6826D;
    --color-select-border: #fe9f36;
    --color-select-option-color: #F2CFBB;
    /* Transfers totals */
    --color-label: #474747;
    --color-sum: #734230;
    /* Route description at pickup point list */
    --color-route-description: #d47e5e;
    /* Checkboxes*/
    --color-bar-checked: #e1a07b;
    --color-thumb-checked: #734230;
}