:host {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-areas:
        "navigation title";
    grid-template-columns: fit-content(0%) auto;
}

#header #title {
    align-items: center;
    display: flex;
    grid-area: title;
    justify-content: flex-start;
    margin-left: 1rem;
}

#header #navigation {
    align-items: center;
    display: flex;
    grid-area: "navigation";
    justify-content: flex-start;
    margin: 0 0 0 1rem;
}

#content {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

#content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content #instructions {
    margin-top: auto;
}

#footer {
    grid-area: footer;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

#group-field {
    display: flex;
}

#group-field .mat-form-field:first-child {
    margin-right: 1rem;
}

/* Wide */
@media only screen and (min-width: 1367px) {
    #header {
        margin: 2rem;
    }

    #footer {
        margin: 2rem;
    }
}

/* Narrow */
@media only screen and (max-width: 1366px) {
    #header {
        margin: 1.5rem;
    }

    #footer {
        margin: 1.5rem;
    }
}