h1 {
    color: var(--color-headers) !important;
    font-family: var(--font-family-headers) !important;
    font-size: var(--font-size-headers) !important;
    font-weight: var(--font-weight-headers) !important;
}

h2, h3 {
    color: var(--color-headers) !important;
    font-family: var(--font-family-headers) !important;
    font-weight: var(--font-weight-headers) !important;
}
