input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input.date {
    text-align: center;
}

input::selection {
    background-color: var(--color-input-text-selected);
}

input[type=text], input[type=email] {
    caret-color: var(--color-input-text-caret);
    color: var(--color-input-not-focus);
    cursor: text !important;
    font-size: var(--font-size-input) !important;
}

input[type=text]:disabled {
    cursor: not-allowed !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

input[type=number] {
    text-align: right;
}

.mat-form-field-wrapper {
    margin-bottom: 0.7rem !important;
}

.mat-form-field-label-wrapper {
    font-size: 1.2rem;
}

.mat-hint {
    color: var(--color-input-not-focus) !important;
}

.mat-icon {
    color: var(--color-input-not-focus);
}

#search-box .mat-form-field {
    flex: auto;
}

#search-box .mat-form-field-wrapper {
    margin: 0 !important;
}

/* Not focused - Not error */
.mat-form-field .mat-form-field-label {
    color: var(--color-input-not-focus) !important;
}

.mat-form-field .mat-input-element {
    font-size: var(--font-size-input) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-not-focus) !important;
}

.mat-form-field-underline {
    background-color: var(--color-input-not-focus) !important
}

.mat-form-field .mat-hint {
    color: var(--color-input-not-focus) !important;
}

/* Focused */
.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--color-input-focus) !important;
}

.mat-form-field.mat-focused .mat-input-element {
    font-size: var(--font-size-input) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-focus) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--color-input-focus) !important
}

.mat-form-field.mat-focused .mat-hint {
    color: var(--color-input-focus) !important;
}

/* Error */
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--color-input-text-error) !important;
    font-weight: bold !important;
}

.mat-form-field.mat-form-field-invalid .mat-input-element {
    color: var(--color-input-text-error) !important;
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--color-input-text-error) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: var(--color-input-text-error) !important;
}

.mat-form-field-infix {
    padding-top: 0 !important;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill:hover {
    font-size: var(--font-size-input) !important;
}