#loader {
    align-items: center;
    background: var(--color-loader-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#logo-header {
    color: var(--color-company-logo-first-child) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-first-child) !important;
    margin: 0;
}

#logo-subHeader {
    color: var(--color-company-logo-second-child) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-second-child) !important;
    font-weight: normal !important;
    margin: -1rem 0 0 0 !important;
}

#loading-message {
    color: var(--color-company-logo-first-child);
    font-family: var(--font-family-headers);
    margin-top: 0.5rem !important;
}

.progress-line, .progress-line::before {
    height: 3px;
    width: 25rem;
}

.progress-line {
    background-color: var(--color-loader-progress-background);
    display: -webkit-flex;
    display: flex;
    margin: 2rem 0;
}

.progress-line::before {
    background-color: var(--color-loader-progress);
    content: '';
    animation: running-progress 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
