#customSnackbar {
    align-items: center;
    display: flex;
    min-height: 1.5rem;
    min-width: 20rem;
    padding: 0 0.5rem;
}

#customSnackbar div {
    align-items: center;
    color: var(--color-snackbar-text);
    display: flex;
    font-family: var(--font-family-snackbar);
    font-size: var(--font-size-snackbar);
    width: 100%;
}

#customSnackbar button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 5rem !important;
}

.mat-snack-bar-container {
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 10px 16px !important;
}
